# just for artifacthub image resolving
{{ if eq .Release.Namespace "default" -}}
  {{- $release := mustDeepCopy .Release -}}
  {{- $release = set $release "Namespace" "flux-system" -}}
  {{- include "common.helm.repositories" (dict "context" (dict "Values" .Values "Chart" .Chart "Release" $release)) -}}
{{- end -}}
