* @teutonet/k8s
.github/* @cwrau @marvinWolff @tasches
charts/base-cluster/ @cwrau @marvinWolff @tasches  @teutonet-bot
charts/ckan/ @cwrau @marvinWolff @syeklu @tasches  @teutonet-bot
charts/common/ @cwrau @marvinWolff @tasches  @teutonet-bot
charts/stellio-context-broker/ @cwrau @ocaner-biz  @teutonet-bot
charts/t8s-cluster/ @cwrau @marvinWolff @tasches  @teutonet-bot
charts/teuto-cnpg/ @cwrau @marvinWolff @tasches  @teutonet-bot
charts/teuto-portal-k8s-worker/ @cwrau @marvinWolff @tasches  @teutonet-bot
