# Automatically load the Nix development shell when entering this directory
# Requires direnv: https://direnv.net/
#
# To enable:
#   direnv allow
#
# This will automatically activate the Nix flake environment with all
# validation tools (helm, task, cog, grype, etc.) whenever you cd into
# this directory.

use flake
