{{- $machineDeploymentClasses := dict "compute-plane" false "gpu-compute-plane" true -}}
{{- range $name, $spec := .Values.nodePools -}}
  {{- $machineDeploymentClasses = set $machineDeploymentClasses $name ($spec.flavor | contains "gpu") -}}
{{- end -}}
apiVersion: cluster.x-k8s.io/v1beta1
kind: ClusterClass
metadata:
  name: {{ $.Release.Name }}
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
spec:
  controlPlane:
    {{- if not .Values.controlPlane.hosted }}
    machineHealthCheck:
      maxUnhealthy: 1
      nodeStartupTimeout: 10m
      unhealthyConditions:
        - status: Unknown
          timeout: 600s
          type: Ready
        - status: 'False'
          timeout: 600s
          type: Ready
    nodeDrainTimeout: "8m"
    machineInfrastructure:
      ref:
        apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
        kind: OpenStackMachineTemplate
        name: {{ printf "%s-control-plane-%s" $.Release.Name (include "t8s-cluster.clusterClass.openStackMachineTemplate.specHashOfControlPlane" (dict "context" $)) }}
    {{- end }}
    ref:
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      {{- if .Values.controlPlane.hosted }}
      kind: K0smotronControlPlaneTemplate
      name: {{/* the full context is needed for .Files.Get */}}{{ printf "%s-%s" $.Release.Name (include "t8s-cluster.clusterClass.k0smotronControlPlaneTemplate.specHash" .) }}
      {{- else }}
      kind: KubeadmControlPlaneTemplate
      name: {{/* the full context is needed for .Files.Get */}}{{ printf "%s-%s" $.Release.Name (include "t8s-cluster.clusterClass.kubeadmControlPlaneTemplate.specHash" .) }}
      {{- end }}
  infrastructure:
    ref:
      apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
      kind: OpenStackClusterTemplate
      name: {{ printf "%s-%s" $.Release.Name (include "t8s-cluster.clusterClass.openStackClusterTemplate.specHash" (dict "context" $)) }}
  variables:
    - name: dnsNameservers
      required: true
      schema:
        openAPIV3Schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            format: ipv4
    - name: controlPlaneAvailabilityZones
      required: false
      schema:
        openAPIV3Schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
    - name: machineDeploymentFlavor
      required: true
      schema:
        openAPIV3Schema:
          type: string
          default: compute-plane-placeholder
  patches:
    - name: machineDeploymentFlavour
      definitions:
        - jsonPatches:
            - op: add
              path: /spec/template/spec/flavor
              valueFrom:
                variable: machineDeploymentFlavor
          selector:
            apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
            kind: OpenStackMachineTemplate
            matchResources:
              machineDeploymentClass:
                names: {{- $machineDeploymentClasses | keys | sortAlpha | toYaml | nindent 18 }}
    - name: imageVersion
      description: Sets the image version for machines.
      definitions:
        - jsonPatches:
            - &imagePatch
              op: add
              path: /spec/template/spec/image/filter/name
              valueFrom:
                template: {{ printf "t8s-engine-%s{{ .builtin.machineDeployment.version }}" .Values.openstackImageNamePrefix }}
          selector: &imagePatchSelector
            apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
            kind: OpenStackMachineTemplate
            matchResources:
              machineDeploymentClass:
                names: {{- $machineDeploymentClasses | keys | sortAlpha | toYaml | nindent 18 }}
        {{- if not .Values.controlPlane.hosted }}
        - jsonPatches:
            - <<: *imagePatch
              valueFrom:
                template: {{ printf "t8s-engine-%s{{ .builtin.controlPlane.version }}" .Values.openstackImageNamePrefix }}
          selector:
            <<: *imagePatchSelector
            matchResources:
              controlPlane: true
        {{- end }}
    {{- if not .Values.controlPlane.hosted }}
    - name: controlPlaneAvailabilityZones
      enabledIf: {{ `{{ if .controlPlaneAvailabilityZones }}true{{ end }}` | quote }}
      definitions:
        - selector:
            apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
            kind: OpenStackClusterTemplate
            matchResources:
              infrastructureCluster: true
          jsonPatches:
            - op: add
              path: /spec/template/spec/controlPlaneAvailabilityZones
              valueFrom:
                variable: controlPlaneAvailabilityZones
    {{- end }}
    - name: dnsNameservers
      definitions:
        - selector:
            apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
            kind: OpenStackClusterTemplate
            matchResources:
              infrastructureCluster: true
          jsonPatches:
            - op: add
              path: /spec/template/spec/managedSubnets/0/dnsNameservers
              valueFrom:
                variable: dnsNameservers
  workers:
    machineDeployments:
      {{- range $name, $isGpuDeploymentClass := $machineDeploymentClasses }}
      - class: {{ $name }}
        machineHealthCheck:
          nodeStartupTimeout: 8m
          unhealthyConditions:
            - status: Unknown
              timeout: 300s
              type: Ready
            - status: 'False'
              timeout: 300s
              type: Ready
        nodeDrainTimeout: "8m"
        strategy:
          type: RollingUpdate
          rollingUpdate:
            deletePolicy: Oldest
            {{/* TODO: this is only for our beta phase */}}
            {{- if $isGpuDeploymentClass }}
            maxSurge: 0
            maxUnavailable: 1
            {{- else }}
            maxSurge: 75%
            maxUnavailable: 0
            {{- end }}
        template:
          bootstrap:
            ref:
              apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
              kind: {{ $.Values.controlPlane.hosted | ternary "K0sWorkerConfigTemplate" "KubeadmConfigTemplate" }}
              name: {{ printf "%s-%s-compute-plane" $.Release.Name ($isGpuDeploymentClass | ternary "gpu" "standard") }}
          infrastructure:
            ref:
              apiVersion: {{ include "t8s-cluster.clusterClass.infrastructureApiVersion" (dict) }}
              kind: OpenStackMachineTemplate
              name: {{ printf "%s-compute-plane-%s" $.Release.Name (include "t8s-cluster.clusterClass.openStackMachineTemplate.specHashOfNodePools" (dict "context" $)) }}
      {{- end }}
