{{- if eq .Values.ingress.provider "traefik" -}}
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: gateway-api
  namespace: ingress
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: gateway-api
spec:
  interval: 1h
  url: https://github.com/kubernetes-sigs/gateway-api
  ref:
    semver: "1.4.0"
  ignore: |
    *
    !config/crd/experimental
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api
  namespace: ingress
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: gateway-api
spec:
  interval: 1h
  path: config/crd/experimental
  prune: true
  sourceRef:
    kind: GitRepository
    name: gateway-api
    namespace: ingress
{{- end -}}
