apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: ingress
spec:
  chart:
    spec:
      chart: ingress-nginx
      sourceRef:
        kind: HelmRepository
        name: nginx
        namespace: {{ .Release.Namespace }}
      version: 4.x.x
  interval: 1m
  {{- if .Values.monitoring.prometheus.enabled }}
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  {{- end }}
  values:
    controller:
      metrics:
        enabled: {{ .Values.monitoring.prometheus.enabled }}
        serviceMonitor:
          enabled: {{ .Values.monitoring.prometheus.enabled }}
          additionalLabels: {{- .Values.monitoring.labels | toYaml | nindent 12 }}
      config:
        use-proxy-protocol: "true"
      service:
        annotations:
          loadbalancer.openstack.org/proxy-protocol: "true"
        {{- if .Values.ingress.IP }}
          loadbalancer.openstack.org/keep-floatingip: "true"
        loadBalancerIP: {{ .Values.ingress.IP | quote }}
        {{- end }}
      replicaCount: {{ .Values.ingress.replicas }}
      resources: {{- .Values.ingress.resources | toYaml | nindent 8 }}
      podSecurityContext:
        runAsNonRoot: true
        runAsGroup: 101
        runAsUser: 101
        fsGroup: 101
      containerPort:
        http: 8080
        https: 8443
      containerSecurityContext:
        capabilities:
          drop:
            - ALL
          add:
            - NET_BIND_SERVICE
        privileged: false
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
      admissionWebhooks:
        enabled: false
      {{- if .Values.global.imageRegistry }}
        patch:
          image:
            registry: {{ .Values.global.imageRegistry }}
      {{- end }}
      {{- if .Values.global.imageRegistry }}
      image:
        registry: {{ .Values.global.imageRegistry }}
      {{- end }}