{{/*
KubeadmControlPlaneTemplate is immutable. We need to create new versions during upgrades.
Here we are generating a hash suffix.
This function needs the whole `$` context to be able to use `.Files.Get`
*/}}
{{- define "t8s-cluster.clusterClass.kubeadmControlPlaneTemplate.spec" -}}
rolloutBefore:
  certificatesExpiryDays: 60
kubeadmConfigSpec:
  clusterConfiguration:
    apiServer:
      extraArgs: {{- toYaml (include "t8s-cluster.clusterClass.argsMapToArray" (dict "args" (include "t8s-cluster.clusterClass.args.apiServer" (dict "context" .) | fromYaml)) | fromYamlArray) | nindent 8 }}
      {{- $extraVolumes := list -}}
      {{- range $name, $file := mustMerge (include "t8s-cluster.clusterClass.apiServer.staticFiles" (dict) | fromYaml) (include "t8s-cluster.clusterClass.apiServer.dynamicFiles" (dict "context" .) | fromYaml) -}}
        {{- $extraVolumes = append $extraVolumes (dict "name" ($name | trimSuffix ".yaml" | replace "." "-") "hostPath" (get $file "path" ) "mountPath" (get $file "path") "readOnly" true) -}}
      {{- end }}
      extraVolumes: {{- toYaml $extraVolumes | nindent 8 }}
    controllerManager:
      extraArgs: {{- toYaml (include "t8s-cluster.clusterClass.argsMapToArray" (dict "args" (include "t8s-cluster.clusterClass.args.controllerManager" (dict "context" .) | fromYaml)) | fromYamlArray) | nindent 8 }}
    etcd:
      local:
        extraArgs:
          - name: listen-metrics-urls
            value: http://0.0.0.0:2381
    scheduler:
      extraArgs: {{- toYaml (include "t8s-cluster.clusterClass.argsMapToArray" (dict "args" (include "t8s-cluster.clusterClass.args.scheduler" (dict "context" .) | fromYaml)) | fromYamlArray) | nindent 8 }}
  files: {{- include "t8s-cluster.clusterClass.kubeadmControlPlaneTemplate.files" . | nindent 4 }}
  initConfiguration: &configuration
    nodeRegistration:
      kubeletExtraArgs: {{- toYaml (include "t8s-cluster.clusterClass.argsMapToArray" (dict "args" (include "t8s-cluster.clusterClass.kubeletExtraArgs" (dict "context" .) | fromYaml)) | fromYamlArray) | nindent 8 }}
      imagePullSerial: false
    patches:
      directory: {{ include "t8s-cluster.patches.directory" (dict) }}
  joinConfiguration: *configuration
  {{- with include "t8s-cluster.clusterClass.kubeadmControlPlaneTemplate.preKubeadmCommands" (dict "context" .) | fromYamlArray }}
  preKubeadmCommands: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with include "t8s-cluster.clusterClass.postKubeadmCommands" (dict) | fromYamlArray }}
  postKubeadmCommands: {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end -}}
