apiVersion: v2
name: base-cluster
type: application
version: 4.3.0
icon: https://teuto.net/favicon.ico
maintainers:
  - name: cwrau
    email: cwr@teuto.net
  - name: marvinWolff
    email: mw@teuto.net
  - name: steutol
    email: sl@teuto.net
sources:
  - https://github.com/teutonet/teutonet-helm-charts
home: https://teuto.net
description: A common base for every kubernetes cluster
dependencies:
  - name: common
    version: 2.2.4
    repository: https://charts.bitnami.com/bitnami
annotations:
  artifacthub.io/images: >
    - image: bats/bats:1.8.2

    - image: bats/bats:v1.4.1

    - image: busybox:1.35

    - image: curlimages/curl:7.85.0

    - image: docker.io/bitnami/kubectl:1.26.4

    - image: docker.io/bitnami/metrics-server:0.6.3-debian-11-r3

    - image: docker.io/fluxcd/flux-cli:v0.41.2

    - image: docker.io/grafana/promtail:2.7.4

    - image:
    docker.io/vladgh/gpg@sha256:8514acc9c94607895e3dea724bd85d885252666212567f6632d2654580539ed3

    - image: ghcr.io/aquasecurity/trivy-operator:0.13.0

    - image: ghcr.io/kyverno/cleanup-controller:v1.9.2

    - image: ghcr.io/kyverno/kyverno:v1.9.2

    - image: ghcr.io/kyverno/kyvernopre:v1.9.2

    - image: grafana/grafana-image-renderer:latest

    - image: grafana/grafana:9.4.7

    - image: grafana/loki:2.6.1

    - image: quay.io/jetstack/cert-manager-cainjector:v1.11.1

    - image: quay.io/jetstack/cert-manager-controller:v1.11.1

    - image: quay.io/jetstack/cert-manager-ctl:v1.11.1

    - image: quay.io/jetstack/cert-manager-webhook:v1.11.1

    - image: quay.io/kiwigrid/k8s-sidecar:1.22.0

    - image: quay.io/prometheus-operator/prometheus-operator:v0.63.0

    - image: quay.io/prometheus/node-exporter:v1.5.0

    - image: quay.io/prometheus/prometheus:v2.42.0

    - image: registry.k8s.io/descheduler/descheduler:v0.26.1

    - image:
    registry.k8s.io/ingress-nginx/controller:v1.7.0@sha256:7612338342a1e7b8090bef78f2a04fffcadd548ccaabe8a47bf7758ff549a5f7

    - image:
    registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20221220-controller-v1.5.1-58-g787ea74b6

    - image: registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.8.2

    - image: registry.k8s.io/sig-storage/nfs-provisioner:v4.0.8
