apiVersion: v2
name: base-cluster
type: application
version: 1.1.0
icon: https://teuto.net/favicon.ico
maintainers:
  - name: cwrau
    email: cwr@teuto.net
  - name: marvinWolff
    email: mw@teuto.net
sources:
  - https://github.com/teutonet/teutonet-helm-charts
home: https://teuto.net
description: A common base for every kubernetes cluster
dependencies:
  - name: common
    version: 2.2.2
    repository: https://charts.bitnami.com/bitnami
annotations:
  artifacthub.io/images: |
    - image: bats/bats:v1.1.0
    - image: bats/bats:v1.4.1
    - image: busybox:latest
    - image: curlimages/curl:7.85.0
    - image: docker.io/bitnami/kubectl:1.25.5
    - image: docker.io/bitnami/metrics-server:0.6.2-debian-11-r9
    - image: docker.io/fluxcd/flux-cli:v0.38.2
    - image: docker.io/grafana/promtail:2.7.0
    - image: docker.io/vladgh/gpg@sha256:8514acc9c94607895e3dea724bd85d885252666212567f6632d2654580539ed3
    - image: ghcr.io/aquasecurity/trivy-operator:0.10.1
    - image: ghcr.io/kyverno/kyverno:v1.8.5
    - image: ghcr.io/kyverno/kyvernopre:v1.8.5
    - image: grafana/grafana-image-renderer:latest
    - image: grafana/grafana:9.3.0
    - image: grafana/loki:2.6.1
    - image: k8s.gcr.io/descheduler/descheduler:v0.25.1
    - image: k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.3.0
    - image: k8s.gcr.io/pause:3.9
    - image: k8s.gcr.io/sig-storage/nfs-provisioner:v3.0.0
    - image: quay.io/jetstack/cert-manager-cainjector:v1.10.2
    - image: quay.io/jetstack/cert-manager-controller:v1.10.2
    - image: quay.io/jetstack/cert-manager-ctl:v1.10.2
    - image: quay.io/jetstack/cert-manager-webhook:v1.10.2
    - image: quay.io/kiwigrid/k8s-sidecar:1.21.0
    - image: quay.io/prometheus-operator/prometheus-operator:v0.60.1
    - image: quay.io/prometheus/node-exporter:v1.5.0
    - image: quay.io/prometheus/prometheus:v2.39.1
    - image: registry.k8s.io/ingress-nginx/controller:v1.5.1@sha256:4ba73c697770664c1e00e9f968de14e08f606ff961c76e5d7033a4a9c593c629
    - image: registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.7.0
