{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

## Cluster bootstrap

```sh
# always be git 😁
git init

# create empty cluster HelmRelease;
flux create helmrelease --export base-cluster -n flux-system --source HelmRepository/teuto-net.flux-system --chart base-cluster --chart-version 0.x.x > cluster.yaml

# maybe use the following name for your cluster;
kubectl get node -o json | jq '.items[0].metadata.annotations["cluster.x-k8s.io/cluster-name"]'

# configure according to your needs, at least `.global.clusterName` is needed
# also, you should configure `.helmRepositories.flux.url=https://fluxcd-community.github.io/helm-charts` so flux can manage itself
# additionally, you should add your git repo to `.flux.gitRepositories`, see [the documentation](https://github.com/teutonet/teutonet-helm-charts/tree/main/charts/base-cluster#81--property-base-cluster-configuration--flux--gitrepositories)
vi cluster.yaml

# create HelmRelease for flux to manage itself
flux create helmrelease --export flux -n flux-system --source HelmRepository/flux.flux-system --chart flux2 --chart-version 2.x.x > flux.yaml

# add, commit and push resources
git add cluster.yaml flux.yaml
git commit cluster.yaml flux.yaml
git push

# we explicitly do not use `flux bootstrap` or `flux install` as this creates kustomization stuff and installs flux manually
helm install -n flux-system flux flux2 --repo https://fluxcd-community.github.io/helm-charts --version 2.x.x --atomic

# manual initial installation of the chart, afterwards the chart takes over
# after the installation finished, follow the on-screen instructions to configure your flux, distribute KUBECONFIGs, ...
helm install -n flux-system base-cluster base-cluster --repo https://teutonet.github.io/teutonet-helm-charts --version 0.x.x --atomic --values <(cat cluster.yaml | yq -y .spec.values)

# you can use this command to get the instructions again
helm -n flux-system get notes base-cluster
```

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

This helm chart requires flux v2 to be installed (https://fluxcd.io/docs/installation)

The various components are automatically updated to the latest minor and patch version.

This excludes:

- descheduler, its version is bound to the k8s version and they have not released 1.0.0

## Migration

### 0.x.x -> 1.0.0

- The field `.dns.email` moves to `.certManager.email`.
- The field `.dns.provider.cloudflare.email` is removed, as only `apiToken`s are supported anyways.

### 1.x.x -> 2.0.0

- Flux is now a direct dependency
  - You should add the following labels to all resources of flux;
    - .metadata.labels["app.kubernetes.io/managed-by"]="Helm"
    - .metadata.annotations["meta.helm.sh/release-name"]="base-cluster"
    - .metadata.annotations["meta.helm.sh/release-namespace"]="flux-system"
  - If you have problems when applying / `helm upgrade`ing the new CRDs, like `cannot patch "alerts.notification.toolkit.fluxcd.io" with kind CustomResourceDefinition: CustomResourceDefinition.apiextensions.k8s.io "alerts.notification.toolkit.fluxcd.io" is invalid: status.storedVersions[1]: Invalid value: "v1beta2": must appear in spec.versions`, you can replace those CRDs. (kubectl replace --force -f -)
    - ⚠️ make sure to only replace CRDs you're not actively using!!, this is a destructive operation. If all your resources are in flux you can also try to turn off flux before the replacement and flux _should_ resync and reconcile all resources.
  - remove your manually managed flux resources

### 2.x.x -> 3.0.0

- Flux is removed as a direct dependency

  The flux chart is way to unstable, cannot be used for an installation, ...

We be sorry 😥

You're gonna have to install flux yourself again

### 3.x.x -> 4.0.0

The storageClasses are going to be removed from this chart, this is prepared by leaving them in the cluster on upgrade.

The new [t8s-cluster](../t8s-cluster) is going to provide these, the enduser can ignore this change.

{{ .Files.Get "values.md"  }}
