{{- if .Values.monitoring.securityScanning.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy
  namespace: trivy
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: trivy
    app.kubernetes.io/part-of: security
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "trivy" "chart" "trivy-operator" "context" $) | nindent 6 }}
  interval: 1h
  driftDetection:
    mode: enabled
  {{- if .Values.monitoring.prometheus.enabled }}
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  {{- end }}
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    {{- if .Values.global.imageRegistry }}
    image:
      registry: {{ $.Values.global.imageRegistry }}
    {{- end }}
    {{- if or .Values.global.imageRegistry .Values.monitoring.securityScanning.nodeCollector.tolerations }}
    nodeCollector:
      {{- if .Values.global.imageRegistry }}
      registry: {{ $.Values.global.imageRegistry }}
      {{- end}}
      {{- with .Values.monitoring.securityScanning.nodeCollector.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    trivy:
    {{- if .Values.global.imageRegistry }}
      dbRegistry: {{ $.Values.global.imageRegistry }}
      javaDbRegistry: {{ $.Values.global.imageRegistry }}
      image:
        registry: {{ $.Values.global.imageRegistry }}
    {{- end }}
      ignoreUnfixed: true
      resources:
        requests:
          memory: 256Mi
        limits:
          memory: 4Gi
    operator:
      scanJobsConcurrentLimit: 3
      metricsVulnIdEnabled: true
      scanJobTimeout: 15m
    securityContext: &securityContext
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      runAsNonRoot: true
      runAsUser: 10000
      runAsGroup: 10000
    podSecurityContext: &podSecurityContext
      seccompProfile:
        type: RuntimeDefault
    trivyOperator:
      scanJobCompressLogs: false
      scanJobPodTemplateContainerSecurityContext: *securityContext
      scanJobPodTemplatePodSecurityContext: *podSecurityContext
    excludeNamespaces: ""
    serviceMonitor:
      enabled: {{ .Values.monitoring.prometheus.enabled }}
      labels: {{- include "common.tplvalues.render" (dict "value" .Values.monitoring.labels "context" .) | nindent 8 }}
{{- end }}
