{{- if .Values.monitoring.metricsServer.enabled -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
  namespace: monitoring
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: metrics-server
    app.kubernetes.io/part-of: monitoring
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "bitnami" "chart" "metrics-server" "context" $) | nindent 6 }}
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    apiService:
      create: true
    {{- if .Values.global.imageRegistry }}
    global:
      imageRegistry: {{ $.Values.global.imageRegistry }}
    {{- end }}
    resources:
      limits:
        cpu: 100m
        memory: 64Mi
    replicas: 2
    priorityClassName: cluster-components
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
    extraArgs:
      - --kubelet-preferred-address-types=InternalIP
      - --kubelet-insecure-tls=true
  {{- end -}}
