apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ printf "%s-ccm" .Release.Name }}
  namespace: {{ .Release.Namespace}}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: openstack-cloud-controller-manager
      sourceRef:
        kind: HelmRepository
        name: {{ printf "%s-cloud-provider-openstack" .Release.Name }}
        namespace: {{ .Release.Namespace }}
      version: {{ printf "2.%d.x" (.Values.version.minor | int) }}
  interval: 1h
  driftDetection:
    mode: enabled
  {{- if eq (include "t8s-cluster.cni" .) "cilium" }}
  dependsOn:
    - name: {{ printf "%s-cni" .Release.Name }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  install:
    remediation:
      retries: -1
  uninstall:
    disableWait: true
  upgrade:
    timeout: 5m
  storageNamespace: kube-system
  targetNamespace: kube-system
  releaseName: ccm
  kubeConfig:
    secretRef:
      name: {{ .Release.Name }}-kubeconfig
  valuesFrom:
    - &valuesFrom
      kind: Secret
      name: {{ .Release.Name }}-ccm-cloud-config
      optional: false
      targetPath: cloudConfigContents
      valuesKey: cloud.conf
    - <<: *valuesFrom
      targetPath: cloudConfig.metadata.hash
  {{- if .Values.controlPlane.hosted }}
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: DaemonSet
            patch: |
              - op: replace
                path: /kind
                value: Deployment
  {{- end }}
  values:

    {{- if le (.Values.version.minor | int) 28 }}
    tolerations:
      - key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
        effect: NoSchedule
    {{- if not .Values.controlPlane.hosted }}
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    {{- end }}
  {{- else }}
    {{- if .Values.controlPlane.hosted }}
    nodeSelector: null
    {{- end }}
  {{- end }}
