{{- $repoCharts := (index .Values.global.helmRepositories "cloud-provider-openstack").charts -}}
{{- $selectedVersion := default (index $repoCharts "openstack-cloud-controller-manager") (index $repoCharts (printf "openstack-cloud-controller-manager 2.%d.x" ($.Values.version.minor | int))) -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ printf "%s-ccm" .Release.Name }}
  namespace: {{ .Release.Namespace}}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: openstack-cloud-controller-manager
      sourceRef:
        kind: HelmRepository
        name: cloud-provider-openstack
        namespace: flux-system
      version: {{ $selectedVersion | quote }}
  interval: 1h
  driftDetection:
    mode: enabled
  {{- if eq (include "t8s-cluster.cni" .) "cilium" }}
  dependsOn:
    - name: {{ printf "%s-cni" .Release.Name }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  install:
    remediation:
      retries: -1
  uninstall:
    disableWait: true
  upgrade:
    timeout: 5m
  storageNamespace: kube-system
  targetNamespace: kube-system
  releaseName: ccm
  kubeConfig:
    secretRef:
      name: {{ .Release.Name }}-kubeconfig
  valuesFrom:
    - &valuesFrom
      kind: Secret
      name: {{ .Release.Name }}-ccm-cloud-config
      optional: false
      targetPath: cloudConfigContents
      valuesKey: cloud.conf
    - <<: *valuesFrom
      targetPath: cloudConfig.metadata.hash
  {{- if .Values.controlPlane.hosted }}
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: DaemonSet
            patch: |
              - op: replace
                path: /kind
                value: Deployment
              - op: remove
                path: /spec/template/spec/nodeSelector
  {{- end }}
  values:
    priorityClassName: system-cluster-critical
  {{- if .Values.controlPlane.hosted }}
    tolerations:
      - key: node.cluster.x-k8s.io/uninitialized
        effect: NoSchedule
      - key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
        effect: NoSchedule
  {{- end }}
