{{- if eq (include "t8s-cluster.cni" .) "cilium" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ printf "%s-cni" .Release.Name }}
  namespace: {{ .Release.Namespace}}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
spec:
  chart:
    spec: {{- include "common.helm.chartSpec" (dict "repo" "cilium" "prependReleaseName" true "chart" "cilium" "context" $) | nindent 6 }}
  interval: 1h
  driftDetection:
    mode: enabled
  kubeConfig:
    secretRef:
      name: {{ .Release.Name }}-kubeconfig
  install:
    remediation:
      retries: -1
  uninstall:
    disableWait: true
  upgrade:
    timeout: 5m
  storageNamespace: kube-system
  targetNamespace: kube-system
  releaseName: cni
  values:
    rollOutCiliumPods: true
    encryption:
      enabled: false
      nodeEncryption: false
    egressGateway:
      enabled: true
    hubble:
      metrics:
        enabled:
          - dns
          - drop
          - tcp
          - flow
          - icmp
          - http
      relay:
        rollOutPods: true
        enabled: true
        prometheus:
          enabled: true
      ui:
        rollOutPods: true
        enabled: true
    operator:
      rollOutPods: true
      prometheus:
        enabled: true
    prometheus:
      enabled: true
{{- end }}
