{{- $repoCharts := (index .Values.global.helmRepositories "cloud-provider-openstack").charts -}}
{{- $selectedVersion := default (index $repoCharts "openstack-cinder-csi") (index $repoCharts (printf "openstack-cinder-csi 2.%d.x" ($.Values.version.minor | int))) -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ printf "%s-csi" .Release.Name }}
  namespace: {{ .Release.Namespace}}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: cinder-csi
spec:
  chart:
    spec:
      chart: openstack-cinder-csi
      sourceRef:
        kind: HelmRepository
        name: cloud-provider-openstack
        namespace: flux-system
      version: {{ $selectedVersion | quote }}
  interval: 1h
  driftDetection:
    mode: enabled
  {{- if eq (include "t8s-cluster.cni" .) "cilium" }}
  dependsOn:
    - name: {{ printf "%s-cni" .Release.Name }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  kubeConfig:
    secretRef:
      name: {{ .Release.Name }}-kubeconfig
  install:
    remediation:
      retries: -1
  uninstall:
    disableWait: true
  upgrade:
    timeout: 5m
  storageNamespace: kube-system
  targetNamespace: kube-system
  releaseName: csi
  values:
    priorityClassName: system-node-critical
    storageClass:
      enabled: false
    secret:
      enabled: true
      name: cloud-config
    csi:
      plugin:
        controllerPlugin:
          extraArgs:
            - --with-topology=false
          tolerations:
            - effect: NoSchedule
              key: node-role.kubernetes.io/control-plane
