{{/*
OpenStackMachineTemplate is immutable. We need to create new versions during upgrades.
Here we are generating a hash suffix.
*/}}
{{- define "t8s-cluster.clusterClass.openStackMachineTemplate.spec" -}}
  {{- $_ := mustMerge . (pick .context "Values") -}}
flavor: {{ eq .name "control-plane" | ternary .Values.controlPlane.flavor "compute-plane-placeholder" | required "flavor is required" }}
image:
  filter:
    name: placeholder
identityRef:
  name: {{ include "t8s-cluster.clusterClass.getIdentityRefSecretName" (dict "context" .context) }}
  cloudName: {{ include "t8s-cluster.clusterClass.cloudName" (dict) }}
securityGroups: {{- include "t8s-cluster.clusterClass.securityGroups" (dict "name" .name "context" .context) | nindent 2 }}
  {{- with .Values.sshKeyName }}
sshKeyName: {{ . }}
  {{- end }}
serverGroup:
  filter:
    name: {{ .name }}
{{- end -}}
