{{- if .Values.monitoring.prometheus.enabled -}}
{{- include "base-cluster.helm.resourceWithDependencies" (dict "name" "certificate-expiration" "namespace" "cert-manager" "resource" (include "base-cluster.cert-manager.expirationRule" . ) "render" false "dependencies" (dict "monitoring" "kube-prometheus-stack") "context" $ "additionalLabels" (dict "app.kubernetes.io/component" "prometheus" "app.kubernetes.io/part-of" "cert-manager")) -}}
{{- end -}}

{{- define "base-cluster.cert-manager.expirationRule" -}}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: certificate-expiration
  namespace: cert-manager
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    monitoring/provisioned-by: base-cluster
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/part-of: cert-manager
spec:
  groups:
    - name: certificate-expiration
      rules:
        - alert: CertificatePastRenewalTime
          annotations:
            description: {{ "Certificate {{ $labels.exported_namespace }}/{{ $labels.name }} hasn't been renewed in 30 Minutes. The certificate should've been renewed {{ humanizeDuration $value }} ago." | quote }}
            summary: Certificate is past renewal time.
          expr: |-
            time() - certmanager_certificate_renewal_timestamp_seconds > (30*60)
          for: 5m
          labels:
            severity: critical
            period: WorkingHours
        - alert: CertificatePastRenewalTimeHalfwayToExpiration
          annotations:
            description: {{ "Certificate {{ $labels.exported_namespace }}/{{ $labels.name }} hasn't been renewed and is halfway to expiration. The certificate will expire at {{ humanizeTimestamp $value }}." | quote }}
            summary: Certificate is expiring soon.
          expr: |-
            certmanager_certificate_expiration_timestamp_seconds and (time() - (certmanager_certificate_renewal_timestamp_seconds + ((certmanager_certificate_expiration_timestamp_seconds - certmanager_certificate_renewal_timestamp_seconds) * 1/2)) > 0)
          for: 5m
          labels:
            severity: critical
            period: WorkingHours
  {{- end -}}
