{{- $name := "ckan" -}}
{{- $claimName := printf "%s-%s" (include "common.names.fullname" $) $name -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-%s" (include "common.names.fullname" $) $name | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: {{ $name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ $name }}
  template:
    metadata:
      labels: {{- include "common.labels.matchLabels" . | nindent 8 }}
        app.kubernetes.io/component: {{ $name }}
      annotations:
        checksum/secret: {{ include "common.utils.checksumTemplate" (dict "path" "/ckan/secret.yaml" "context" $) }}-{{ include "common.utils.checksumTemplate" (dict "path" "/postgresql/secret.yaml" "context" $) }}-{{ include "common.utils.checksumTemplate" (dict "path" "/solr/secret.yaml" "context" $) }}
    spec:
      {{- include "ckan.ckan.imagePullSecrets" . | nindent 6 }}
      automountServiceAccountToken: false
      serviceAccountName: {{ printf "%s-%s-serviceaccount" (include "common.names.fullname" $) $name | quote }}
      volumes:
        - name: "ckan"
          persistentVolumeClaim:
            claimName: {{ $claimName }}
        - name: configmap-volume
          configMap:
            defaultMode: 0777
            name: my-configmap
        - name: api-tokens-volume
          emptyDir: {}
        {{- with .Values.ckan.extraVolumes }}
          {{- tpl (toYaml .) $ | nindent 8 -}}
        {{- end }}
      securityContext:
      {{- toYaml .Values.ckan.podSecurityContext | default dict | nindent 8 }}
      containers:
        - name: {{ printf "%s-%s" .Chart.Name $name }}
          env:
            - name: CKAN_SITE_ID
              value: {{ .Values.ckan.siteId }}
            - name: CKAN__SITE_TITLE
              value: {{ .Values.ckan.siteTitle | quote }}
            {{- if .Values.ckan.ingress.hostname }}
            - name: CKAN_SITE_URL
              value: "https://{{ .Values.ckan.ingress.hostname }}"
            {{- end }}
            - name: CKAN_SYSADMIN_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: sysAdminUsername
            - name: CKAN_SYSADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: sysAdminPassword
            - name: CKAN_SYSADMIN_EMAIL
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: sysAdminEmail
            {{- if .Values.ckan.smtp }}
            - name: CKAN_SMTP_SERVER
              value: {{ .Values.ckan.smtp.server }}
            - name: CKAN_SMTP_USER
              value: {{ .Values.ckan.smtp.user }}
            - name: CKAN_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: smtpPassword
            - name: CKAN_SMTP_MAIL_FROM
              value: {{ .Values.ckan.smtp.mailFrom }}
            - name: CKAN_SMTP_STARTTLS
              value: {{ .Values.ckan.smtp.starttls | quote}}
            {{- end }}
            - name: CKAN__LOCALE_DEFAULT
              value: {{ .Values.ckan.locales.default | quote }}
            - name: CKAN__LOCALES_OFFERED
              value: {{ .Values.ckan.locales.offered | quote }}
            {{- if .Values.postgresql.enabled }}
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: postgresPassword
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_HOST
              value: {{ printf "%s-%s" (include "ckan.postgresql.fullname" . ) "primary" }}
            - name: CKAN_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: ckanDatabaseUsername
            - name: CKAN_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: ckanDatabasePassword
            - name: CKAN_DB
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: ckanDatabase
            - name: DATASTORE_READONLY_USER
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: datastoreUsername
            - name: DATASTORE_READONLY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: datastorePassword
            - name: DATASTORE_DB
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.postgresql.fullname" . ) }}
                  key: datastoreDatabase
            - name: CKAN_SQLALCHEMY_URL
              value: "postgresql://$(CKAN_DB_USER):$(CKAN_DB_PASSWORD)@{{ printf "%s-%s" (include "ckan.postgresql.fullname" . ) "primary" }}/$(CKAN_DB)"
            - name: CKAN_DATASTORE_WRITE_URL
              value: "postgresql://$(CKAN_DB_USER):$(CKAN_DB_PASSWORD)@{{ printf "%s-%s" (include "ckan.postgresql.fullname" . ) "primary" }}/$(DATASTORE_DB)"
            - name: CKAN_DATASTORE_READ_URL
              value: "postgresql://$(DATASTORE_READONLY_USER):$(DATASTORE_READONLY_PASSWORD)@{{ printf "%s-%s" (include "ckan.postgresql.fullname" . ) "read" }}/$(DATASTORE_DB)"
            {{- end }}
            - name: CKAN_SOLR_URL
              value: "http://{{ printf "%s-%s" (include "ckan.solr.fullname" . ) "headless" }}:{{ include "ckan.solr.service.port" $ }}/solr/ckan"
            {{- if .Values.solr.auth.enabled }}
            - name: CKAN_SOLR_USER
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.solr.fullname" . ) }}
                  key: solrUsername
            - name: CKAN_SOLR_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-config" (include "ckan.solr.fullname" . ) }}
                  key: solrPassword
            {{- end }}
            - name: CKAN_REDIS_URL
              value: "redis://{{ printf "%s-%s" (include "ckan.redis.fullname" . ) "headless" }}:{{ include "ckan.redis.service.port" $}}/0"
            - name: CKAN_DATAPUSHER_URL
              value: "http://{{ printf "%s-%s" (include "common.names.fullname" $) "datapusher" }}:{{ include "ckan.datapusher.service.port" $ }}"
            - name: CKAN_DATAPUSHER_FORMATS
              value: {{ .Values.ckan.datapusher.formats | join " " | quote }}
            - name: CKAN__DATAPUSHER__API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: datapusherApiKey
            - name: CKAN__DATAPUSHER__CALLBACK_URL_BASE
              value: "http://{{ printf "%s-%s" (include "common.names.fullname" $) "ckan" }}:{{ include "ckan.ckan.service.port" $ }}/"
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: secretKey
            - name: WTF_CSRF_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: wtfCsrfSecretKey
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s-config" (include "common.names.fullname" $) $name }}
                  key: jwtSecret
            - name: CKAN__PLUGINS
              value: {{ .Values.ckan.plugins | join " " | quote }}
            - name: CKAN__VIEWS__DEFAULT_VIEWS
              value: {{ .Values.ckan.defaultViews | join " " | quote }}
            {{- if .Values.ckan.extraEnvVars }}
              {{- include "common.tplvalues.render" (dict "value" .Values.ckan.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          securityContext:
          {{- toYaml .Values.ckan.securityContext | default dict | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /api/3/action/group_list
              port: http
            initialDelaySeconds: {{ .Values.ckan.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.ckan.readiness.periodSeconds }}
            failureThreshold: {{ .Values.ckan.readiness.failureThreshold }}
            timeoutSeconds: {{ .Values.ckan.readiness.timeoutSeconds }}
          livenessProbe:
            httpGet:
              path: /api/3/action/group_list
              port: http
            initialDelaySeconds: {{ .Values.ckan.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.ckan.liveness.periodSeconds }}
            failureThreshold: {{ .Values.ckan.liveness.failureThreshold }}
            timeoutSeconds: {{ .Values.ckan.liveness.timeoutSeconds }}
          image: {{ include "common.images.image" (dict "imageRoot" .Values.ckan.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.ckan.image.pullPolicy }}
          volumeMounts:
            - name: "ckan"
              mountPath: /var/lib/ckan
              readOnly: false
            {{- with .Values.ckan.extraVolumeMounts }}
              {{- tpl (toYaml .) $ | nindent 12 -}}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ include "ckan.ckan.service.port" $ }}
              protocol: TCP
          resources:
            {{- toYaml .Values.ckan.resources | nindent 12 }}

#TODO support CKAN HA
