{{- $databases := dict -}}
{{- if kindIs "string" .Values.databases -}}
  {{- $databases = .Values.databases | fromYaml -}}
{{- else -}}
  {{- $databases = .Values.databases -}}
{{- end -}}
{{- range $name, $ownerOrObject := $databases -}}
{{- $owner := "" -}}
{{- $dbObject := dict -}}
{{- if kindIs "string" $ownerOrObject -}}
  {{- $owner = $ownerOrObject -}}
  {{- $dbObject = dict -}}
{{- else -}}
  {{- $owner = $ownerOrObject.owner -}}
  {{- $dbObject = omit $ownerOrObject "owner" -}}
{{- end -}}
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: {{ printf "%s-%s" $.Release.Name ($name | sha1sum | trunc 16) }}
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
spec:
  name: {{ $name | quote }}
  owner: {{ $owner | quote }}
  {{- with $dbObject }}
  {{- $dbObject | toYaml | nindent 2 }}
  {{- end }}
  cluster:
    name: {{ printf "%s" $.Release.Name }}
---
{{ end }}
