{{- if .Values.kyverno.enabled }}
# https://github.com/kyverno/kyverno/tree/main/charts/kyverno-policies
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kyverno-policies
  namespace: kyverno
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: kyverno-policies
    app.kubernetes.io/part-of: kyverno
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "kyverno" "chart" "kyverno-policies" "context" $) | nindent 6 }}
  interval: 1h
  dependsOn:
    - name: kyverno
      namespace: kyverno
  values:
    # Supported- baseline/restricted/privileged/custom
    # For more info- https://kyverno.io/policies/pod-security
    podSecurityStandard: {{ .Values.kyverno.podSecurityStandard | quote }}
    # Supported- low/medium/high
    podSecuritySeverity: {{ .Values.kyverno.podSecuritySeverity | quote }}
    # Supported values- `audit`, `enforce`
    # For more info- https://kyverno.io/docs/writing-policies/validate/
    validationFailureAction: {{ .Values.kyverno.validationFailureAction | quote }}
    validationFailureActionOverride:
      all:
        - action: audit
          namespaces:
            - kube-system
            - default
    {{ $lokiPromtail := dict "resources" (dict "namespaces" (list "loki") "kinds" (list "Pod") "names" (list "loki-promtail-*")) -}}
    {{- $nodeExporter := dict "resources" (dict "namespaces" (list "monitoring") "kinds" (list "Pod") "names" (list "kube-prometheus-stack-prometheus-node-exporter-*")) -}}
    {{- $nfsServerProvisioner := dict "resources" (dict "namespaces" (list "nfs-server-provisioner") "kinds" (list "Pod") "names" (list "nfs-server-provisioner-0")) -}}
    {{- $veleroNodeAgent := dict "resources" (dict "namespaces" (list "backup") "kinds" (list "Pod") "names" (list "node-agent-*")) -}}

    {{- $disallowHostPath := list -}}
    {{- $runAsNonRoot := list -}}
    {{- $restrictSeccomp := list -}}
    {{- $disallowPrivilegeEscalation := list -}}
    {{- $disallowCapabilities := list -}}
    {{- $disallowHostNamespaces := list -}}
    {{- $disallowHostPorts := list -}}

    {{- if .Values.monitoring.loki.enabled -}}
      {{- $disallowHostPath = append $disallowHostPath $lokiPromtail -}}
      {{- $runAsNonRoot = append $runAsNonRoot $lokiPromtail -}}
    {{- end -}}
    {{- if .Values.monitoring.prometheus.enabled -}}
      {{- $disallowHostPath = append $disallowHostPath $nodeExporter -}}
      {{- $disallowHostPorts = append $disallowHostPorts $nodeExporter -}}
      {{- $disallowHostNamespaces = append $disallowHostNamespaces $nodeExporter -}}
    {{- end -}}
    {{- if .Values.storage.readWriteMany.enabled -}}
      {{- $restrictSeccomp = append $restrictSeccomp $nfsServerProvisioner -}}
      {{- $runAsNonRoot = append $runAsNonRoot $nfsServerProvisioner -}}
      {{- $disallowPrivilegeEscalation = append $disallowPrivilegeEscalation $nfsServerProvisioner -}}
      {{- $disallowCapabilities = append $disallowCapabilities $nfsServerProvisioner -}}
    {{- end -}}
    {{- if .Values.backup.enabled }}
      {{- $disallowHostPath = append $disallowHostPath $veleroNodeAgent -}}
      {{- $runAsNonRoot = append $runAsNonRoot $veleroNodeAgent -}}
    {{- end }}
    policyExclude:
    {{- if $disallowHostPath }}
      disallow-host-path:
        any: {{- $disallowHostPath | toYaml | nindent 10 }}
      restrict-volume-types:
        any: {{- $disallowHostPath | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $disallowHostPorts }}
      disallow-host-ports:
        any: {{- $disallowHostPorts | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $disallowHostNamespaces }}
      disallow-host-namespaces:
        any: {{- $disallowHostNamespaces | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $runAsNonRoot }}
      require-run-as-non-root-user:
        any: {{- $runAsNonRoot | toYaml | nindent 10 }}
      require-run-as-nonroot:
        any: {{- $runAsNonRoot | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $restrictSeccomp }}
      restrict-seccomp:
        any: {{- $restrictSeccomp | toYaml | nindent 10 }}
      restrict-seccomp-strict:
        any: {{- $restrictSeccomp | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $disallowPrivilegeEscalation }}
      disallow-privilege-escalation:
        any: {{- $disallowPrivilegeEscalation | toYaml | nindent 10 }}
    {{- end -}}
    {{- if $disallowCapabilities }}
      disallow-capabilities:
        any: {{- $disallowCapabilities | toYaml | nindent 10 }}
      disallow-capabilities-strict:
        any: {{- $disallowCapabilities | toYaml | nindent 10 }}
    {{- end -}}
{{- end }}
