{{/*
OpenStackClusterTemplate is immutable. We need to create new versions during upgrades.
Here we are generating a hash suffix.
*/}}
{{- define "t8s-cluster.clusterClass.openStackClusterTemplate.spec" -}}
  {{- $_ := mustMerge . (pick .context "Values") -}}
apiServerLoadBalancer:
  enabled: {{ not .Values.controlPlane.hosted }}
  {{- with .Values.controlPlane.allowedCIDRs }}
  allowedCIDRs: {{- toYaml . | nindent 4 }}
  {{- end }}
disableAPIServerFloatingIP: {{ .Values.controlPlane.hosted }}
bastion:
  enabled: {{ .Values.bastion.enabled }}
  {{- if .Values.bastion.enabled }}
    {{- with .Values.bastion.availabilityZone }}
  availabilityZone: {{ . }}
    {{- end }}
  spec:
    cloudName: {{ include "t8s-cluster.clusterClass.cloudName" (dict) }}
    flavor: standard.1.1905
    identityRef:
      kind: Secret
      name: {{ include "t8s-cluster.clusterClass.getIdentityRefSecretName" (dict "context" .context) }}
    image:
      filter:
        name: Ubuntu 20.04
    {{- with .Values.bastion.sshKeyName }}
    sshKeyName: {{ . }}
    {{- end }}
  {{- end }}
disablePortSecurity: false
identityRef:
  name: {{ include "t8s-cluster.clusterClass.getIdentityRefSecretName" (dict "context" .context) }}
  cloudName: {{ include "t8s-cluster.clusterClass.cloudName" (dict) }}

  {{- $cni := include "t8s-cluster.cni" .context -}}

  {{- $allowNativeRouting := and .Values.controlPlane.hosted (eq $cni "cilium") -}}

  {{- $securityGroupRules := dict -}}
  {{- $controlPlaneSecurityGroup := "controlplane" -}}
  {{- $computePlaneSecurityGroup := "worker" -}}
  {{- $allRemoteManagedGroups := list $computePlaneSecurityGroup -}}
  {{- if not .Values.controlPlane.hosted -}}
    {{ $allRemoteManagedGroups = append $allRemoteManagedGroups $controlPlaneSecurityGroup -}}
  {{- end -}}

  {{- if not $allowNativeRouting -}}
    {{- $cniSecurityGroupRules := dict -}}
    {{- if eq $cni "calico" }}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "BGP" (dict "port" 179) -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "IP-in-IP" (dict "protocol" "4") -}}
    {{- else if eq $cni "cilium" -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "VXLAN" (dict "port" 8472 "protocol" "udp") -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "health (http)" (dict "port" 4240) -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "health (ping)" (dict "protocol" "icmp") -}}
    {{- if .Values.controlPlane.hosted -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "allow pod-pod native routing (ingress)" (dict "remoteIPPrefix" "10.0.0.0/16" "protocol" nil) -}}
      {{- $cniSecurityGroupRules = set $cniSecurityGroupRules "allow node-pod native routing (ingress)" (dict "remoteIPPrefix" "10.6.0.0/16" "protocol" nil) -}}
    {{- end -}}
  {{- end }}
    {{- range $name, $securityGroupRule := $cniSecurityGroupRules -}}
      {{- $securityGroupRules = set $securityGroupRules (printf "%s %s" $cni $name) $securityGroupRule -}}
    {{- end -}}

    {{- $metricsSecurityGroupRules := dict -}}
    {{- $metricsSecurityGroupRules = set $metricsSecurityGroupRules "prometheus node-exporter" (dict "port" 9100 "remoteManagedGroups" (list $computePlaneSecurityGroup)) -}}
    {{- if not .Values.controlPlane.hosted -}}
      {{- $metricsSecurityGroupRules = set $metricsSecurityGroupRules "etcd" (dict "port" 2381 "securityGroup" $controlPlaneSecurityGroup "remoteManagedGroups" (list $computePlaneSecurityGroup)) -}}
      {{- $metricsSecurityGroupRules = set $metricsSecurityGroupRules "kube-proxy" (dict "port" 10249 "securityGroup" $controlPlaneSecurityGroup "remoteManagedGroups" (list $computePlaneSecurityGroup)) -}}
      {{- $metricsSecurityGroupRules = set $metricsSecurityGroupRules "kube-controller-manager" (dict "port" 10257 "securityGroup" $controlPlaneSecurityGroup "remoteManagedGroups" (list $computePlaneSecurityGroup)) -}}
      {{- $metricsSecurityGroupRules = set $metricsSecurityGroupRules "kube-scheduler" (dict "port" 10259 "securityGroup" $controlPlaneSecurityGroup "remoteManagedGroups" (list $computePlaneSecurityGroup)) -}}
    {{- end }}
    {{- range $name, $securityGroupRule := $metricsSecurityGroupRules -}}
      {{- $securityGroupRules = set $securityGroupRules (printf "metrics (%s)" $name) $securityGroupRule -}}
    {{- end -}}
  {{- else -}}
    {{- $securityGroupRules = set $securityGroupRules "cilium allow pod-pod native routing" (dict "remoteIPPrefix" "10.0.0.0/16" "protocol" nil) -}}
  {{- end -}}

  {{- range $name, $securityGroupRule := .Values.controlPlane.additionalSecurityGroupRules -}}
    {{- $_securityGroupRule := dict
      "securityGroup" $controlPlaneSecurityGroup
      "remoteManagedGroups" (list)
      "remoteGroupID" ($securityGroupRule.remoteGroupID | required "You need to provide the `remoteGroupID`")
    -}}
    {{- if hasKey $securityGroupRule "port" -}}
      {{- $_securityGroupRule = set $_securityGroupRule "port" $securityGroupRule.port -}}
    {{- end -}}
    {{- if and (hasKey $securityGroupRule "portMin") (hasKey $securityGroupRule "portMax") -}}
      {{- $_securityGroupRule = set $_securityGroupRule "portMin" $securityGroupRule.portMin -}}
      {{- $_securityGroupRule = set $_securityGroupRule "portMax" $securityGroupRule.portMax -}}
    {{- end -}}
    {{- if hasKey $securityGroupRule "description" -}}
      {{- $_securityGroupRule = set $_securityGroupRule "description" (printf "%s (custom)" $securityGroupRule.description) -}}
    {{- end -}}
    {{- $securityGroupRules = set $securityGroupRules (printf "%s (custom)" $name) $_securityGroupRule -}}
  {{- end -}}

  {{- $allNodesSecurityGroupRules := list -}}
  {{- $controlPlaneNodesSecurityGroupRules := list -}}
  {{- $workerNodesSecurityGroupRules := list -}}
  {{- range $name, $securityGroupRule := $securityGroupRules -}}
    {{- $_securityGroupRule := dict
      "name" $name
      "description" ($securityGroupRule.description | default $name)
      "direction" "ingress"
      "etherType" "IPv4"
      "protocol" (hasKey $securityGroupRule "protocol" | ternary $securityGroupRule.protocol "tcp")
    -}}
    {{- if or (hasKey $securityGroupRule "port") (and (hasKey $securityGroupRule "portMin") (hasKey $securityGroupRule "portMax")) -}}
      {{- $_securityGroupRule = set $_securityGroupRule "portRangeMin" ($securityGroupRule.portMin | default $securityGroupRule.port) -}}
      {{- $_securityGroupRule = set $_securityGroupRule "portRangeMax" ($securityGroupRule.portMax | default $securityGroupRule.port) -}}
    {{- end -}}
    {{- if hasKey $securityGroupRule "remoteGroupID" -}}
      {{- $_securityGroupRule = set $_securityGroupRule "remoteGroupID" $securityGroupRule.remoteGroupID -}}
    {{- else if hasKey $securityGroupRule "remoteManagedGroups" -}}
      {{- $_securityGroupRule = set $_securityGroupRule "remoteManagedGroups" $securityGroupRule.remoteManagedGroups -}}
    {{- else if hasKey $securityGroupRule "remoteIPPrefix" -}}
      {{- $_securityGroupRule = set $_securityGroupRule "remoteIPPrefix" $securityGroupRule.remoteIPPrefix -}}
    {{- else -}}
      {{- $_securityGroupRule = set $_securityGroupRule "remoteManagedGroups" $allRemoteManagedGroups -}}
    {{- end -}}

    {{- if eq ($securityGroupRule).securityGroup $controlPlaneSecurityGroup -}}
      {{- $controlPlaneNodesSecurityGroupRules = append $controlPlaneNodesSecurityGroupRules $_securityGroupRule  -}}
    {{- else if eq ($securityGroupRule).securityGroup $computePlaneSecurityGroup -}}
      {{- $workerNodesSecurityGroupRules = append $workerNodesSecurityGroupRules $_securityGroupRule  -}}
    {{- else -}}
      {{- $allNodesSecurityGroupRules = append $allNodesSecurityGroupRules $_securityGroupRule  -}}
    {{- end -}}
  {{- end }}
managedSecurityGroups:
  allNodesSecurityGroupRules: {{- toYaml $allNodesSecurityGroupRules | nindent 4 }}
  controlPlaneNodesSecurityGroupRules: {{- toYaml $controlPlaneNodesSecurityGroupRules | nindent 4 }}
  workerNodesSecurityGroupRules: {{- toYaml $workerNodesSecurityGroupRules | nindent 4 }}
  {{/* for native routing we'd have to allow ingress from the pods and the nodes; which is just everything... */}}
  allowAllInClusterTraffic: {{ $allowNativeRouting }}
managedSubnets:
  - cidr: 10.6.0.0/24
{{- end -}}
