apiVersion: v2
name: t8s-cluster
type: application
version: 2.0.0
icon: https://teuto.net/favicon.ico
maintainers:
  - name: cwrau
    email: cwr@teuto.net
  - name: marvinWolff
    email: mw@teuto.net
  - name: steutol
    email: sl@teuto.net
sources:
  - https://github.com/teutonet/teutonet-helm-charts
home: https://teuto.net
description: t8s-operator cluster with necessary addons
dependencies:
  - name: common
    version: 2.2.4
    repository: https://charts.bitnami.com/bitnami
annotations:
  artifacthub.io/images: |
    - image: quay.io/cilium/cilium:v1.13.1@sha256:428a09552707cc90228b7ff48c6e7a33dc0a97fe1dd93311ca672834be25beda
    - image: quay.io/cilium/hubble-relay:v1.13.1@sha256:ad7ce650c7877f8d769264e20bf5b9020ea778a9530cfae9d67a5c9d942c04cb
    - image: quay.io/cilium/hubble-ui-backend:v0.10.0@sha256:cc5e2730b3be6f117b22176e25875f2308834ced7c3aa34fb598aa87a2c0a6a4
    - image: quay.io/cilium/hubble-ui:v0.10.0@sha256:118ad2fcfd07fabcae4dde35ec88d33564c9ca7abe520aa45b1eb13ba36c6e0a
    - image: quay.io/cilium/operator-generic:v1.13.1@sha256:f47ba86042e11b11b1a1e3c8c34768a171c6d8316a3856253f4ad4a92615d555
    - image: registry.k8s.io/etcd:3.5.7-0
