apiVersion: v2
name: t8s-cluster
type: application
version: 4.0.1
icon: https://teuto.net/favicon.ico
maintainers:
  - name: cwrau
    email: cwr@teuto.net
  - name: marvinWolff
    email: mw@teuto.net
  - name: tasches
    email: st@teuto.net
sources:
  - https://github.com/teutonet/teutonet-helm-charts
home: https://teuto.net
description: t8s-operator cluster with necessary addons
dependencies:
  - name: common
    version: 2.13.3
    repository: https://charts.bitnami.com/bitnami
annotations:
  artifacthub.io/images: |
    - image: docker.io/bitnami/kubectl:1.28.2
    - image: k8s.gcr.io/sig-storage/csi-attacher:v3.4.0
    - image: k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.5.0
    - image: k8s.gcr.io/sig-storage/csi-provisioner:v3.1.0
    - image: k8s.gcr.io/sig-storage/csi-resizer:v1.4.0
    - image: k8s.gcr.io/sig-storage/csi-snapshotter:v5.0.1
    - image: k8s.gcr.io/sig-storage/livenessprobe:v2.6.0
    - image: quay.io/cilium/cilium:v1.14.3@sha256:e5ca22526e01469f8d10c14e2339a82a13ad70d9a359b879024715540eef4ace
    - image: quay.io/cilium/hubble-relay:v1.14.3@sha256:3f5c425faca4f8a38e29d4f86db2aadd8f33c9f05debd78a2bb2a24dd9e565d8
    - image: quay.io/cilium/hubble-ui-backend:v0.12.1@sha256:1f86f3400827a0451e6332262467f894eeb7caf0eb8779bd951e2caa9d027cbe
    - image: quay.io/cilium/hubble-ui:v0.12.1@sha256:9e5f81ee747866480ea1ac4630eb6975ff9227f9782b7c93919c081c33f38267
    - image: quay.io/cilium/operator-generic:v1.14.3@sha256:c9613277b72103ed36e9c0d16b9a17cafd507461d59340e432e3e9c23468b5e2
    - image: registry.k8s.io/etcd:3.5.9-0
    - image: registry.k8s.io/provider-os/cinder-csi-plugin:v1.25.6
    - image: registry.k8s.io/provider-os/openstack-cloud-controller-manager:v1.25.6
