apiVersion: v2
dependencies:
  - name: common
    repository: oci://ghcr.io/teutonet/teutonet-helm-charts
    version: 1.8.0
description: t8s-operator cluster with necessary addons
home: https://teuto.net
icon: https://teuto.net/favicon.ico
maintainers:
  - email: cwr@teuto.net
    name: cwrau
  - email: mw@teuto.net
    name: marvinWolff
  - email: st@teuto.net
    name: tasches
name: t8s-cluster
sources:
  - https://github.com/teutonet/teutonet-helm-charts/tree/t8s-cluster-v9.5.2/charts/t8s-cluster
  - https://github.com/teutonet/teutonet-helm-charts/tree/main/charts/t8s-cluster
type: application
version: 9.5.2
annotations:
  artifacthub.io/images: |-
    []
