global:
  # it's important that the `url` is the first key and `charts` is right below, otherwise renovate won't detect it
  helmRepositories:
    cilium:
      url: https://helm.cilium.io
      charts:
        cilium: 1.x.x
      condition: '{{ eq .Values.cni "cilium" }}'
    nvidia:
      url: https://helm.ngc.nvidia.com/nvidia
      charts:
        gpu-operator: 23.x.x
      condition: '{{ eq (include "t8s-cluster.hasGPUNodes" (dict "context" $)) "true" }}'
    cloud-provider-openstack:
      url: https://kubernetes.github.io/cloud-provider-openstack
    cetic:
      url: https://cetic.github.io/helm-charts
  etcd:
    image:
      registry: registry.k8s.io
      repository: etcd
      tag: 3.5.9-0
  kubectl:
    image:
      registry: docker.io
      repository: bitnami/kubectl
      tag: 1.28.2
  semver:
    image:
      registry: docker.io
      repository: alpine/semver
      tag: 7.5.4
  injectedCertificateAuthorities: ""
  kubeletExtraConfig:
    # This is only used when using 1.27 or later
    maxParallelImagePulls: 4

metadata:
  serviceLevelAgreement: None
  supportProjectUrl: ""
  configGroupUrl: ""
  gopassName: ""
  remarks: ""
  friendlyName: ""

controlPlane:
  flavor: standard.2.1905
  singleNode: false
  allowedCIDRs: []

version:
  major: 1
  minor: 25
  patch: 0

nodePools: {}
additionalComputePlaneSecurityGroups: []

bastion:
  enabled: false
  availabilityZone: null
  sshKeyName: null

containerRegistryMirror:
  additionallyMirroredRegistries: []
  mirrorEndpoint: https://mirror.teuto.net

sshKeyName: null

cni: cilium

imageNameTemplate:
  computePlane: t8s-engine-2004-kube-{{ .builtin.machineDeployment.version }}
  controlPlane: t8s-engine-2004-kube-{{ .builtin.controlPlane.version }}
