global:
  # it's important that the `url` is the first key and `charts` is right below, otherwise renovate won't detect it
  helmRepositories:
    cilium:
      url: https://helm.cilium.io
      charts:
        cilium: 1.18.6
      condition: '{{ eq (include "t8s-cluster.cni" .) "cilium" }}'
    nvidia:
      url: https://helm.ngc.nvidia.com/nvidia
      charts:
        gpu-operator: 24.9.2
      condition: '{{ include "t8s-cluster.hasGPUNodes" (dict "context" $) }}'
    cloud-provider-openstack:
      url: https://kubernetes.github.io/cloud-provider-openstack
      charts:
        openstack-cloud-controller-manager: 2.35.0
        openstack-cloud-controller-manager 2.34.x: 2.34.2
        openstack-cloud-controller-manager 2.33.x: 2.33.1
        openstack-cloud-controller-manager 2.32.x: 2.32.1
        openstack-cloud-controller-manager 2.31.x: 2.31.5
        openstack-cinder-csi: 2.32.0
        openstack-cinder-csi 2.31.x: 2.31.7
        openstack-cinder-csi 2.30.x: 2.30.3
        openstack-cinder-csi 2.29.x: 2.29.2
        openstack-cinder-csi 2.28.x: 2.28.3
        openstack-cinder-csi 2.27.x: 2.27.3
    autoscaler:
      url: https://kubernetes.github.io/autoscaler
      charts:
        cluster-autoscaler: 9.54.1
    cetic:
      url: https://cetic.github.io/helm-charts
  etcd:
    image:
      registry: registry.k8s.io
      repository: etcd
      tag: 3.6.7-0@sha256:70cd5d29d2efcbc4c15f2a63183fd537aae77ddbc46b3b97a8a97bc8751ec3b4
  kubectl:
    image:
      registry: docker.io
      repository: bitnami/kubectl
      tag: 1.31.4-debian-12-r1@sha256:64614ef8290f3fb27fed5164b338debeeb79a1e5e26c93eb920770b71abd7c48
  injectedCertificateAuthorities: ""
  kubeletExtraConfig:
    # This is only used when using 1.27 or later
    maxParallelImagePulls: 4

metadata:
  serviceLevelAgreement: None
  supportProjectUrl: ""
  configGroupUrl: ""
  remarks: ""
  friendlyName: ""

controlPlane:
  hosted: false
  flavor: standard.2.1905
  singleNode: false
  allowedCIDRs: []
  resources:
    requests:
      memory: 2Gi
    limits:
      memory: 4Gi

version:
  major: 1
  minor: 25
  patch: 0

nodePools: {}
additionalComputePlaneSecurityGroups: []

bastion:
  enabled: false
  availabilityZone: null
  sshKeyName: null

containerRegistryMirror:
  additionallyMirroredRegistries: []
  mirrorEndpoint: https://mirror.teuto.net

sshKeyName: null

cni: auto

openstackImageNamePrefix: ""
