{{- if .Values.storage.readWriteMany.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-server-provisioner
  namespace: nfs-server-provisioner
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: storage
    app.kubernetes.io/part-of: nfs-server-provisioner
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "nfs-server-provisioner" "chart" "nfs-server-provisioner" "context" $) | nindent 6 }}
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    storageClass:
      name: {{ .Values.storage.readWriteMany.storageClass.name }}
    persistence:
      enabled: true
      size: {{ .Values.storage.readWriteMany.persistence.size }}
    {{- $storageClass := include "common.storage.class" (dict "persistence" .Values.storage.readWriteMany.persistence "global" $.Values.global) | fromYaml -}}
    {{- if ne $storageClass.storageClassName nil }}
      storageClass: {{ $storageClass.storageClassName | quote }}
    {{- end }}
    {{- if .Values.global.imageRegistry }}
    image:
      repository: {{ printf "%s/sig-storage/nfs-provisioner" $.Values.global.imageRegistry }}
    {{- end }}
    resources: {{- include "common.resources" .Values.nfsServerProvisioner | nindent 6 }}
    podSecurityContext:
      seccompProfile:
        type: Unconfined
{{- end }}
