{{- if and .Values.monitoring.tracing.enabled .Values.monitoring.prometheus.enabled -}}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana-tempo
  namespace: monitoring
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: tracing
    app.kubernetes.io/part-of: monitoring
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "bitnami" "chart" "grafana-tempo" "context" $) | nindent 6 }}
  interval: 1h
  {{- if .Values.monitoring.prometheus.enabled }}
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  {{- end }}
  values:
    {{- if .Values.global.imageRegistry }}
    global:
      imageRegistry: {{ $.Values.global.imageRegistry }}
    {{- end }}
    tempo:
      traces:
        jaeger:
          grpc: false
          thriftHttp: false
        otlp:
          grpc: true
    metrics:
      enabled: {{ .Values.monitoring.prometheus.enabled }}
      serviceMonitor:
        enabled: {{ .Values.monitoring.prometheus.enabled }}
        labels: {{- .Values.monitoring.labels | toYaml | nindent 8 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-tempo-datasource
  namespace: monitoring
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: tracing
    app.kubernetes.io/part-of: monitoring
    grafana_datasource: "1"
data:
  grafana-tempo-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Tempo
        type: tempo
        access: proxy
        url: "http://grafana-tempo-query-frontend.monitoring:3200"
        version: 1
        isDefault: false
        jsonData:
          {}
{{- end -}}
