{{- if and .Values.monitoring.tracing.enabled .Values.monitoring.prometheus.enabled -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-tempo
  namespace: monitoring
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: tracing
    app.kubernetes.io/part-of: monitoring
spec:
  chart:
    spec: {{- include "base-cluster.helm.chartSpec" (dict "repo" "grafana-community" "chart" "tempo" "context" $) | nindent 6 }}
  interval: 1h
  driftDetection:
    mode: enabled
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  values:
    tempo:
      {{- with .Values.global.imageRegistry }}
      registry: {{ . }}
      {{- end }}
      resources: {{- include "common.resources" .Values.monitoring.tracing.resources | nindent 8 }}
      securityContext:
        privileged: false
        seLinuxOptions: {}
        seccompProfile:
          type: RuntimeDefault
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: "0.0.0.0:4317"
      reportingEnabled: false

    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenDeleted: Delete
      whenScaled: Retain
    replicas: 1
    retention: 48h
    persistence:
      enabled: true
      size: {{ .Values.monitoring.tracing.persistence.size }}
    securityContext:
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: []
      sysctls: []
    metricsGenerator:
      enabled: true
      remoteWriteUrl: "http://kube-prometheus-stack-prometheus:9090/api/v1/write"
    serviceMonitor:
      enabled: true
      additionalLabels:
        monitoring/provisioned-by: base-cluster
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-tempo-datasource
  namespace: monitoring
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: tracing
    app.kubernetes.io/part-of: monitoring
    grafana_datasource: "1"
data:
  grafana-tempo-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Tempo
        type: tempo
        access: proxy
        uid: tempo
        url: "http://grafana-tempo.monitoring:3200"
        isDefault: false
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
          tracesToMetrics:
            datasourceUid: prometheus
          nodeGraph:
            enabled: true
          serviceMap:
            datasourceUid: prometheus
          lokiSearch:
            datasourceUid: loki
{{- end -}}
