{{- define "base-cluster.prometheus-stack.grafana.config" -}}
imageRenderer:
  enabled: true
  securityContext:
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 472
    runAsGroup: 472
enabled: true
securityContext:
  seccompProfile:
    type: RuntimeDefault
containerSecurityContext: {{- include "base-cluster.prometheus-stack.containerSecurityContext" (dict) | nindent 2 }}
resources: {{- include "common.resources" .Values.monitoring.grafana | nindent 2 }}
{{- if .Values.monitoring.grafana.persistence.enabled }}
persistence:
  enabled: true
  size: {{ .Values.monitoring.grafana.persistence.size | default "10Gi" }}
{{- end }}
serviceMonitor:
  interval: "30s"
  labels: {{- toYaml .Values.monitoring.labels | nindent 4 }}
podAnnotations:
  # This might change on every `template` call, this can be ignored
  checksum/secret: {{ include "common.utils.checksumTemplate" (dict "path" "/monitoring/kube-prometheus-stack/grafana-secret.yaml" "context" $) }}
admin:
  existingSecret: {{ include "common.secrets.name" (dict "defaultNameSuffix" "grafana" "context" $) }}
  userKey: username
  passwordKey: password
plugins:
  - grafana-piechart-panel
  {{- with .Values.monitoring.grafana.additionalPlugins }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
defaultDashboardsEnabled: true
  {{- if .Values.monitoring.grafana.notifiers }}
extraEmptyDirMounts:
  - name: provisioning-notifiers
    mountPath: /etc/grafana/provisioning/notifiers
notifiers:
  notifiers.yaml:
    notifiers: {{- toYaml .Values.monitoring.grafana.notifiers | nindent 6 }}
  {{- end }}
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: 'custom'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: true
        editable: true
        options:
          path: /var/lib/grafana/dashboards/custom
sidecar:
  dashboards:
    enabled: true
    resource: configmap
    searchNamespace: ALL
  datasources:
    enabled: true
    resource: configmap
    searchNamespace: ALL
  resources: {{- include "common.resources" .Values.monitoring.grafana.sidecar | nindent 4 }}
  securityContext: {{- include "base-cluster.prometheus-stack.containerSecurityContext" (dict) | nindent 4 }}
dashboards:
  custom:
    #capacity-planning:
    #  gnetId: 22
    #  revision: 7
    #  datasource: Prometheus
    kubernetes-cluster-monitoring-via-prometheus: &dashboard
      datasource: Prometheus
      gnetId: 315
      revision: 3
    namespace-view:
      <<: *dashboard
      gnetId: 15758
    node-exporter-full:
      <<: *dashboard
      gnetId: 1860
      revision: 16
    metrics:
      <<: *dashboard
      gnetId: 8588
    {{- if .Values.ingress.enabled}}
    ingress-nginx:
      <<: *dashboard
      gnetId: 9614
      revision: 1
    {{- end}}
    cert-manager:
      <<: *dashboard
      gnetId: 11001
      revision: 1
    flux:
      <<: *dashboard
      gnetId: 16714
      revision: 1
    {{- if .Values.dns.provider }}
    external-dns:
      <<: *dashboard
      gnetId: 15038
      revision: 1
    {{- end }}
    {{- if and .Values.monitoring.loki.enabled false }}
    # TODO: this one is broken
    loki:
      <<: *dashboard
      gnetId: 12611
      revision: 1
      datasource: Loki
    {{- end }}
    {{- if .Values.kyverno.enabled }}
    kyverno:
      <<: *dashboard
      gnetId: 15804
      revision: 4
    {{- end }}
    {{- if .Values.monitoring.securityScanning.enabled }}
    trivy:
      <<: *dashboard
      gnetId: 17813
      revision: 2
    {{- end }}
    {{- if .Values.backup.backupStorageLocations }}
    velero:
      <<: *dashboard
      gnetId: 11055
      revision: 2
    {{- end }}
    {{- if .Values.monitoring.tracing.enabled }}
    open-telemetry-collector:
      <<: *dashboard
      gnetId: 15983
      revision: 9
    {{- end }}
  {{- with .Values.monitoring.grafana.additionalDashboards }}
  {{ toYaml . | nindent 4 }}
  {{- end }}
{{- include "base-cluster.monitoring.ingress" (dict "name" "grafana" "context" $) | nindent 0 }}
{{- if and .Values.ingress.enabled .Values.monitoring.grafana.ingress.enabled .Values.certManager.email (or .Values.global.baseDomain .Values.monitoring.grafana.ingress.customDomain) }}
  {{- if .Values.global.authentication }}
envValueFrom:
  OIDC_CLIENT_SECRET:
    secretKeyRef:
      key: client-secret
      name: {{ include "common.secrets.name" (dict "defaultNameSuffix" "oauth-proxy" "context" $) }}
      optional: false
  {{- end }}
grafana.ini:
  {{ merge ($.Values.monitoring.grafana.config | default (dict)) (include "base-cluster.grafana.config" $ | fromYaml) | toYaml | nindent 4 -}}
{{- end }}
downloadDashboards:
  securityContext: {{- include "base-cluster.prometheus-stack.containerSecurityContext" (dict) | nindent 4 }}
initChownData:
  enabled: false
{{- end -}}
