{{- define "base-cluster.prometheus-stack.prometheus.config" -}}
enabled: true
{{- if include "base-cluster.monitoring.unauthenticated-ingress.enabled" (dict "name" "prometheus" "context" .) }}
  {{- include "base-cluster.monitoring.ingress" (dict "name" "prometheus" "context" $) | nindent 0 }}
{{- end }}
prometheusSpec:
  {{- if (lookup "v1" "Secret" "monitoring" "additional-alertmanager-configs") }}
  additionalAlertManagerConfigsSecret:
    name: additional-alertmanager-configs
    key: prometheus-additional-alertmanager-configs.yaml
  {{- end }}
  {{- if include "base-cluster.monitoring.authenticated-ingress.enabled" (dict "name" "prometheus" "context" .) }}
  externalUrl: {{ printf "https://%s" (include "base-cluster.prometheus.host" $) }}
  {{- end }}
  enableRemoteWriteReceiver: true
  resources: {{- include "common.resources" .Values.monitoring.prometheus | nindent 4 }}
  priorityClassName: monitoring-components
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  serviceMonitorSelectorNilUsesHelmValues: false
  ruleSelectorNilUsesHelmValues: false
  podMonitorSelectorNilUsesHelmValues: false
  probeSelectorNilUsesHelmValues: false
  retention: {{ .Values.monitoring.prometheus.retentionDuration }}
  {{ $size := .Values.monitoring.prometheus.persistence.size }}
  {{- $number := regexFind "[0-9]+" $size | int -}}
  {{- $unit := regexFind "[a-zA-Z]+" $size -}}
  {{- $prometheusUnit := dict "Ki" "KB" "Mi" "MB" "Gi" "GB" "Ti" "TB" "Pi" "PB" "Ei" "EB" "k" "KB" "M" "MB" "G" "GB" "T" "TB" -}}
  {{- $retention := div (mul $number 9) 10 -}}
  {{- if le $retention 0 }}{{ fail (printf "Computed retentionSize is 0 for persistence.size=%s; increase the size" $size) }}{{ end -}}
  retentionSize: {{ printf "%d%s" $retention (get $prometheusUnit $unit | default $unit) }}
  storageSpec:
    volumeClaimTemplate:
      spec: {{- include "common.storage.class" (dict "persistence" .Values.monitoring.prometheus.persistence "global" $.Values.global) | nindent 8 }}
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.monitoring.prometheus.persistence.size }}
  replicas: {{ .Values.monitoring.prometheus.replicas }}
  additionalAlertRelabelConfigs:
    {{- if not .Values.monitoring.monitorAllNamespaces }}
      {{- $namespaces := list .Release.Namespace "kube-node-lease" "kube-public" "kube-system" -}}
      {{- range $name := include "base-cluster.enabled-namespaces" . | fromYaml | keys -}}
        {{- $namespaces = append $namespaces $name -}}
      {{- end }}
    - # TODO: Needs alternative
      source_labels:
        - namespace
      action: keep
      regex: {{ printf "(%s)" ($namespaces | sortAlpha | uniq | join "|") }}
    {{- end }}
    - source_labels:
        - __address__
      target_label: clustertype
      replacement: kubernetes # TODO: really needed?

    - source_labels:
        - __address__
      target_label: teutosla
      replacement: {{ .Values.global.serviceLevelAgreement }}
    - source_labels:
        - __address__
      target_label: cluster
      replacement: {{ .Values.global.clusterName }}
  {{- $telemetryConf := include "common.telemetry.conf" (dict "protocol" "otlp") | fromYaml }}
  {{- if $telemetryConf.enabled }}
  tracingConfig:
    clientType: grpc
    samplingFraction: "1.0"
    insecure: true
    endpoint: {{ printf "%s:%d" $telemetryConf.host (int64 $telemetryConf.port) | quote }}
  {{- end }}
{{- end -}}
