{{- define "base-cluster.prometheus.config" -}}
  {{- if .Values.global.imageRegistry }}
global:
  imageRegistry: {{ .Values.global.imageRegistry }}
  {{- end }}
prometheusOperator:
  admissionWebhooks:
    patch:
      resources:
        limits:
          cpu: 50m
          memory: 100m
        requests:
          cpu: 10m
          memory: 10m
  secretFieldSelector: 'type!=helm.sh/release.v1'
  resources: {{- include "common.resources" .Values.monitoring.prometheus.operator | nindent 4 }}
  priorityClassName: monitoring-components
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext: {{- include "base-cluster.prometheus-stack.containerSecurityContext" (dict) | nindent 4 }}
defaultRules:
  disabled:
    etcdHighNumberOfFailedGRPCRequests: true
    PrometheusNotConnectedToAlertmanagers: true # TODO dependent on Alertmanagers
  rules:
    kubeApiserverAvailability: false
kubelet:
  serviceMonitor:
    resource: false
commonLabels: {{- toYaml .Values.monitoring.labels | nindent 2 }}
grafana: {{- include "base-cluster.prometheus-stack.grafana.config" . | nindent 2 }}
kube-state-metrics: {{- include "base-cluster.prometheus-stack.kube-state-metrics.config" . | nindent 2 }}
prometheus-node-exporter: {{- include "base-cluster.prometheus-stack.node-exporter.config" . | nindent 2 }}
alertmanager: {{- include "base-cluster.prometheus-stack.alertmanager.config" . | nindent 2 }}
prometheus: {{- include "base-cluster.prometheus-stack.prometheus.config" . | nindent 2 }}
{{- end -}}
