flux:
  gitRepositories:
    main:
      url: ssh://user@example.com/repo.git
      decryption:
        provider: sops
kyverno:
  enabled: true
storage:
  readWriteMany:
    enabled: true
global:
  clusterName: test
  serviceLevelAgreement: None
monitoring:
  grafana:
    adminPassword: test
  tracing:
    enabled: true
  deadMansSwitch:
    enabled: true
    pingKey: PING_KEY
    apiKey: API_KEY
  prometheus:
    alertmanager:
      receivers:
        pagerduty:
          enabled: true
          integrationKey: INTEGRATION_KEY
weaveworks:
  enabled: true
  adminUser:
    create: true
    username: admin
    password: test
  ingress:
    enabled: true
    host: ww-dashboard.local
  oidcSecret:
    create: true