global:
  imagePullSecrets: []
  podSecurityContext:
    runAsNonRoot: true
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    privileged: false
    capabilities:
      drop:
        - ALL
    runAsGroup: 1000
    runAsUser: 1000

  securityContext:
    fsGroup: 1000
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroupChangePolicy: OnRootMismatch

worker:
  config:
    loggingFormat: json
  image:
    registry: registry-gitlab.teuto.net
    repository: 4teuto/dev/teuto-portal/teuto-portal-k8s-worker/teuto-portal-k8s-worker
    tag: 4.1.3@sha256:1ca38465c01ef364416471e5560bfd45d10d83cb5874781bebcc4588eca1aa58
  database:
    credentials:
      secret:
        name: ""
    host: localhost
    port: 5432
  kubeconfig:
    secret:
      name: ""
  resourcesPreset: micro
  resources: {}
