name: lint github workflows

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    paths:
      - ".github/**/*.ya?ml"

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: lint github workflows
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Add actionlint problem matchers
        run: |
          # https://github.com/rhysd/actionlint/blob/3a2f2c7/docs/usage.md#problem-matchers
          curl -LO https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - uses: docker://rhysd/actionlint:latest
