name: lint github workflows

on:
  pull_request:
    paths:
      - ".github/**/*.ya?ml"

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: lint github workflows
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Add actionlint problem matchers
        run: |
          # https://github.com/rhysd/actionlint/blob/3a2f2c7/docs/usage.md#problem-matchers
          curl -LO https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - uses: docker://rhysd/actionlint:latest
