name: lint github workflows

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    paths:
      - ".github/**/*.ya?ml"

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: lint github workflows
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Add actionlint problem matchers
        run: |
          # https://github.com/rhysd/actionlint/blob/3a2f2c7/docs/usage.md#problem-matchers
          curl -LO https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - uses: docker://rhysd/actionlint:latest@sha256:ef8299f97635c4c30e2298f48f30763ab782a4ad2c95b744649439a039421e36
