name: 'Auto Assign'
on:
  pull_request:
    types:
      - opened
      - ready_for_review

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.4
