name: Check used licenses
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - charts/**

jobs:
  getChangedChart:
    uses: ./.github/workflows/get-changed-chart.yaml
    permissions:
      pull-requests: read
    with:
      pr_number: ${{ github.event.pull_request.number }}
  check-licenses:
    name: check licenses
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs: getChangedChart
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: scripts # needed because otherwise tokens could be stolen
          sparse-checkout: |
            .github
          sparse-checkout-cone-mode: false
      - run: pip install yq
      - name: Install sponge
        run: sudo apt-get -yq install moreutils

      - run: ./scripts/.github/scripts/prepare-values.sh "charts/${{ needs.getChangedChart.outputs.chart }}"

      - run: ./scripts/.github/scripts/extract-artifacthub-images.sh "charts/${{ needs.getChangedChart.outputs.chart }}"

      - run: ./scripts/.github/scripts/enforce-trusted-registries.sh "charts/${{ needs.getChangedChart.outputs.chart }}"

      - run: ./scripts/.github/scripts/check-licenses.sh "charts/${{ needs.getChangedChart.outputs.chart }}"

      - run: /home/linuxbrew/.linuxbrew/bin/brew install syft trivy
      - env:
          TEUTO_PORTAL_WORKER_PULL_TOKEN: ${{ secrets.TEUTO_PORTAL_WORKER_PULL_TOKEN }}
          GHCR_PULL_TOKEN: ${{ secrets.GHCR_PULL_TOKEN }}
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          ./scripts/.github/scripts/scan-for-licenses.sh "charts/${{ needs.getChangedChart.outputs.chart }}"
