name: Create Release PR for charts

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - charts/**

jobs:
  createReleasePR:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          skip-github-release: true
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          config-file: .github/release-please/config.json
          manifest-file: .github/release-please/manifest.json
        id: release-please
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        if: ${{ steps.release-please.outputs.prs_created == 'true' }}
      - name: Set PRs to auto-merge
        if: ${{ steps.release-please.outputs.prs_created == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          PRs=( ${{ join(fromJSON(steps.release-please.outputs.prs).*.number, ' ') }} )
          for pr_number in "${PRs[@]}";do
            gh pr merge --auto --squash "$pr_number"
          done
