name: Get all Charts

on:
  workflow_call:
    inputs:
      showLibraryCharts:
        type: boolean
        default: true
    outputs:
      charts:
        description: "All Charts"
        value: ${{ jobs.getAllCharts.outputs.charts }}

jobs:
  getAllCharts:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      charts: ${{ steps.getCharts.outputs.charts }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: pip install yq
      - name: Get all charts
        id: getCharts
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          set -e
          set -o pipefail
          (
            echo -n charts=
            for chart in charts/*; do
              # shellcheck disable=SC2016
              if [[ -f "$chart/Chart.yaml" ]] && yq --argjson showLibraryCharts '${{ inputs.showLibraryCharts }}' -e '.type != "library" or $showLibraryCharts' "$chart/Chart.yaml" >/dev/null; then
                echo "$chart"
              else
                echo "Skipping library chart: '$chart'" >&2
              fi
            done | jq -c -Rn '[inputs] | map(split("/") | .[1])'
          ) | tee -a "$GITHUB_OUTPUT"
