name: Get changed charts in last commit

on:
  workflow_call:
    outputs:
      charts:
        description: The names of the changed charts in the last commit
        value: ${{ jobs.getChangedCharts.outputs.charts }}

jobs:
  getChangedCharts:
    runs-on: ubuntu-22.04
    outputs:
      charts: ${{ steps.getCharts.outputs.charts }}
    env:
      CT_TARGET_BRANCH: ${{ github.event.repository.default_branch }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: helm/chart-testing-action@v2.3.1

      - name: Get all charts
        id: getCharts
        run: |
          set -ex
          set -o pipefail
          (
            echo -n charts=
            ct list-changed --since "HEAD~" | cut -d / -f 2 | jq -c -Rn '[inputs]'
          ) | tee "$GITHUB_OUTPUT"
