name: Lint Helm Charts

on:
  pull_request:
    paths:
      - charts/**
  merge_group:
    types:
      - checks_requested

jobs:
  getChangedCharts:
    uses: ./.github/workflows/get-changed-charts.yaml
    permissions:
      pull-requests: read
      contents: read
    with:
      pr_number: ${{ github.event.pull_request.number || -1 }}
      base_commit: ${{ github.event.merge_group.base_sha || 'missing' }}
      head_commit: ${{ github.event.merge_group.head_sha || 'missing' }}
  lint-helm-chart:
    name: lint helm chart
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - getChangedCharts
    strategy:
      matrix:
        chart: ${{ fromJson(needs.getChangedCharts.outputs.charts) }}
    env:
      CT_TARGET_BRANCH: ${{ github.event.pull_request.base.ref || github.event.merge_group.base_ref || github.event.repository.default_branch }}
      CHART: ${{ matrix.chart }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - run: pip install yq
      - name: Install sponge
        run: sudo apt-get -yq install moreutils
      - name: Extract helm repos
        id: helm-repos
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          (
            echo -n "repos="
            yq -r '.dependencies[] | .repository' "charts/$CHART/Chart.yaml" | sort -u | grep https:// | awk '{printf (NR>1 ? "," : "") NR "=" $1}'
            echo
          ) | tee -a "$GITHUB_OUTPUT"

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: 3.9

      - run: ./.github/scripts/prepare-values.sh "charts/$CHART"
      - uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Lint chart
        env:
          CT_CHART_REPOS: ${{ steps.helm-repos.outputs.repos }}
          CT_CHARTS: charts/${{ matrix.chart }}
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          if ! [[ -f "charts/$CHART/values.yaml" ]]; then
            echo "No values.yaml found for $CHART, skipping 'ct lint'" >&2
            helm lint "charts/$CHART"
          else
            ct lint --check-version-increment=false
          fi

      - run: ./.github/scripts/templateHelmChartRecursivelyToFolder.sh "charts/$CHART" /tmp/templated
        id: templateChart
      - run: ./.github/scripts/extract-artifacthub-images.sh "charts/$CHART" /tmp/templated
        if: ${{ steps.templateChart.outputs.skipped == 'false' }}
      - run: ./.github/scripts/enforce-trusted-registries.sh "charts/$CHART"
        if: ${{ steps.templateChart.outputs.skipped == 'false' }}
      - run: ./.github/scripts/check-licenses.sh "charts/$CHART"
        if: ${{ steps.templateChart.outputs.skipped == 'false' }}
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@27a470e10b07302fba2d5a2e6817a08a2b87c0c3 # v5.22.6
        if: ${{ steps.templateChart.outputs.skipped == 'false' }}
      - run: pluto detect-files -d /tmp/templated -o custom --columns 'FILEPATH,NAME,KIND,VERSION,REPLACEMENT,REMOVED,DEPRECATED,REPL AVAIL'
        if: ${{ steps.templateChart.outputs.skipped == 'false' }}
