name: Add comment with diff for PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

on:
  pull_request_target:
    paths:
      - charts/**
    branches-ignore:
      - release-please--branches--main--components-**

jobs:
  getChangedChart:
    uses: ./.github/workflows/get-changed-chart.yaml
    permissions:
      pull-requests: read
    with:
      pr_number: ${{ github.event.pull_request.number }}
  generateDiffCommentBody:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: getChangedChart
    env:
      CT_TARGET_BRANCH: ${{ github.event.pull_request.base.ref || github.event.repository.default_branch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: scripts # needed because otherwise tokens could be stolen
          sparse-checkout: |
            .github
          sparse-checkout-cone-mode: false
      - run: pip install yq
      - name: Install sponge
        run: sudo apt-get -yq install moreutils
      - run: ./scripts/.github/scripts/prepare-values.sh "charts/${{ needs.getChangedChart.outputs.chart }}"
      - run: ./scripts/.github/scripts/create-values-diff.sh ${{ github.event.number }} "charts/${{ needs.getChangedChart.outputs.chart }}" --dry-run > comment_body.md
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: comment_body
          path: comment_body.md
          if-no-files-found: error
          retention-days: 1
  postDiffComment:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - getChangedChart
      - generateDiffCommentBody
    env:
      GITHUB_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: comment_body
      - run: ./.github/scripts/create-values-diff.sh ${{ github.event.number }} "charts/${{ needs.getChangedChart.outputs.chart }}" --body comment_body.md
