name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - charts/*/Chart.yaml
  workflow_dispatch: {}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - uses: azure/setup-helm@v3
        with:
          version: v3.5.2

      - run: sudo snap install yq

      - name: Extract and add helm repos
        id: helm-repos
        run: |
          for DIR in ./charts/*; do
            FILE="$DIR/Chart.yaml"
            DIR="${DIR//\./}"
            yq e '.dependencies.[].repository' "$FILE"
          done | sort -u | awk '{print NR " " $1}' | xargs -r -n 2 helm repo add

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.1
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
