name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - charts/*/Chart.yaml
  workflow_dispatch: {}

jobs:
  release:
    if: ${{ contains(github.event.head_commit.message, '[bot] release') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Extract and add helm repos
        id: helm-repos
        run: |
          for DIR in ./charts/*; do
            FILE="$DIR/Chart.yaml"
            DIR="${DIR//\./}"
            yq e '.dependencies.[].repository' "$FILE"
          done | sort -u | awk '{print NR " " $1}' | xargs -r -n 2 helm repo add

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.1
        env:
          CR_TOKEN: "${{ secrets.ACTIONS_BOT_TOKEN }}"
