name: Release Chart

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/release-please/manifest.json

jobs:
  release_please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          skip-github-pull-request: true
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          config-file: .github/release-please/config.json
          manifest-file: .github/release-please/manifest.json
  release_helm:
    runs-on: ubuntu-latest
    needs: release_please
    permissions:
      packages: write
      contents: read
    if: ${{ needs.release_please.outputs.releases_created }}
    strategy:
      matrix:
        chart: ${{ fromJson(needs.release_please.outputs.paths_released) }}
    env:
      CHART: ${{ matrix.chart }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1

      - run: helm package --dependency-update "${CHART}"
      - run: helm registry login ghcr.io --username ${{ github.repository_owner }} --password ${{ github.token }}
      - run: helm push -- *.tgz "oci://ghcr.io/${GITHUB_REPOSITORY}"
      - run: oras login ghcr.io --username ${{ github.repository_owner }} --password ${{ github.token }}
      - run: oras push "ghcr.io/${GITHUB_REPOSITORY}/${CHART#charts/}:artifacthub.io" --config /dev/null:application/vnd.cncf.artifacthub.config.v1+yaml .github/artifacthub-repo.yaml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml
  abort:
    runs-on: ubuntu-latest
    needs: release_please
    permissions:
      actions: write
    if: ${{ !needs.release_please.outputs.releases_created }}
    steps:
      - name: abort if no release was made
        run: |
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}
