name: Scan for CVEs

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  getAllCharts:
    uses: ./.github/workflows/get-all-charts.yaml
    permissions:
      contents: read
    with:
      showLibraryCharts: false

  generateSarifReports:
    runs-on: ubuntu-latest
    needs: getAllCharts
    permissions:
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        chart: ${{ fromJson(needs.getAllCharts.outputs.charts) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: /home/linuxbrew/.linuxbrew/bin/brew install grype
      - run: pip install yq
      - name: Install sponge
        run: sudo apt-get -yq install moreutils
      - name: Generate sarif reports
        env:
          TEUTO_PORTAL_WORKER_PULL_TOKEN: ${{ secrets.TEUTO_PORTAL_WORKER_PULL_TOKEN }}
          GHCR_PULL_TOKEN: ${{ secrets.GHCR_PULL_TOKEN }}
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          ./.github/scripts/generate-sarif-reports.sh "charts/${{ matrix.chart }}"
      - uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4
        if: ${{ hashFiles('reports/*.sarif') != '' }}
        with:
          sarif_file: reports
          # TODO: github dependency tree?

  createIssue:
    runs-on: ubuntu-latest
    if: ${{ always() && needs.generateSarifReports.result == 'failure' }}
    needs: generateSarifReports
    permissions:
      issues: write
    name: Create Issue
    steps:
      - run: |
          gh issue create \
            --title "$TITLE" \
            --assignee "$ASSIGNEES" \
            --label "$LABELS" \
            --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TITLE: CVE Scan failed
          ASSIGNEES: cwrau,marvinWolff,tasches
          LABELS: bug
          BODY: |
            Last run of CVE scanning failed. Please check ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} for more information
