name: Scan for CVEs

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  getAllCharts:
    uses: ./.github/workflows/get-all-charts.yaml
    permissions:
      contents: read
    with:
      showLibraryCharts: false

  generateSarifReports:
    runs-on: ubuntu-latest
    needs: getAllCharts
    permissions:
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        chart: ${{ fromJson(needs.getAllCharts.outputs.charts) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - run: /home/linuxbrew/.linuxbrew/bin/brew install trivy
      - run: pip install yq
      - name: Generate sarif reports
        env:
          TEUTO_PORTAL_WORKER_PULL_TOKEN: ${{ secrets.TEUTO_PORTAL_WORKER_PULL_TOKEN }}
          GHCR_PULL_TOKEN: ${{ secrets.GHCR_PULL_TOKEN }}
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          ./.github/scripts/generate-sarif-reports.sh "charts/${{ matrix.chart }}"
      - uses: github/codeql-action/upload-sarif@662472033e021d55d94146f66f6058822b0b39fd # v3
        if: ${{ hashFiles('reports/*.sarif') != '' }}
        with:
          sarif_file: reports
          # TODO: github dependency tree?
