name: Auto-version Charts

on:
  push:
    branches:
      - main
    paths:
      - charts/**

jobs:
  getChangedCharts:
    uses: ./.github/workflows/get-changed-charts.yaml
    with:
      forPR: false
  createReleasePR:
    needs: getChangedCharts
    strategy:
      matrix:
        chart: ${{ fromJson(needs.getChangedCharts.outputs.charts) }}
    uses: ./.github/workflows/create-release-pr.yaml
    secrets:
      ACTIONS_BOT_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
    with:
      chart: ${{ matrix.chart }}
