name: Update CODEOWNERS
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  generateCodeowners:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: generate CODEOWNERS
        run: ./.github/scripts/sync-codeowners.sh > .github/CODEOWNERS

      - name: Create PR
        id: create-pr
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "chore: [bot] Update 'CODEOWNERS'"
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: chore/update-codeowners
          title: "chore: Update CODEOWNERS"
      - name: Set PR to auto-merge
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge --auto --squash "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
          PR_NUMBER: ${{ steps.create-pr.outputs.pull-request-number }}
          merge-method: squash
