name: Update ArtifactHUB images annotations

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  getCharts:
    runs-on: ubuntu-22.04
    outputs:
      charts: ${{ steps.getCharts.outputs.charts }}
    steps:
      - uses: actions/checkout@v3

      - name: Get all charts
        id: getCharts
        run: |
          set -ex
          set -o pipefail
          (
            echo -n charts=
            for chart in charts/*; do
              if [[ "$chart" != "charts/*" ]]; then
                echo "$chart"
              fi
            done | cut -d / -f 2 | jq -c -Rn '[inputs]'
          ) | tee "$GITHUB_OUTPUT"

  extractImagesForMultipleCharts:
    runs-on: ubuntu-22.04
    needs:
      - getCharts
    strategy:
      matrix:
        chart: ${{ fromJson(needs.getCharts.outputs.charts) }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}

      - run: pip install yq
      - name: Install sponge
        run: sudo apt-get -yq install moreutils

      - name: extract images for ${{ matrix.chart }}
        run: ./.github/scripts/extract-artifacthub-images.sh "${{ matrix.chart }}"

      - name: Create PR
        id: create-pr
        uses: peter-evans/create-pull-request@v4
        with:
          add-paths: |
            charts/${{ matrix.chart }}/**
          commit-message: "chore(${{ matrix.chart }}/artifacthub-images): Update images in 'Chart.yaml'"
          branch: chore/${{ matrix.chart }}-update-artifacthub-images
          title: "chore(${{ matrix.chart }}/artifacthub-images): Update ArtifactHUB images"
      - name: Set PR to auto-merge
        uses: peter-evans/enable-pull-request-automerge@v2
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          pull-request-number: ${{ steps.create-pr.outputs.pull-request-number }}
          merge-method: squash
