name: Update CODEOWNERS
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  generateCodeowners:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: generate CODEOWNERS
        run: ./.github/scripts/sync-codeowners.sh > .github/CODEOWNERS

      - name: Create PR
        id: create-pr
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }} # otherwise downstream workflows are not being run
          add-paths: |
            .github/CODEOWNERS
          commit-message: "ci: [bot] Update 'CODEOWNERS'"
          branch: ci/update-codeowners
          title: "ci: Update CODEOWNERS"
      - name: Set PR to auto-merge
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge --auto --squash "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
          PR_NUMBER: ${{ steps.create-pr.outputs.pull-request-number }}
          merge-method: squash
