name: Validate Pull Request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  getChangedChart:
    if: ${{ !startsWith(github.head_ref, 'release-please--') }}
    uses: ./.github/workflows/get-changed-chart.yaml
    with:
      pr_number: ${{ github.event.pull_request.number }}
  validateCommits:
    if: ${{ !startsWith(github.head_ref, 'release-please--') }}
    name: Validate commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@5ae166018d8265bb2df85c1eb521e86a17b61085 # v3
  validateTitle:
    if: ${{ !startsWith(github.head_ref, 'release-please--') }}
    name: Validate Title
    runs-on: ubuntu-latest
    needs: getChangedChart
    env:
      PR_TITLE: ${{ github.event.pull_request.title }}
    steps:
      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@5ae166018d8265bb2df85c1eb521e86a17b61085 # v3
        with:
          check: false
      - name: Verify that PR title is a conventional commit message
        run: |
          set -e
          set -o pipefail

          if ! cog verify "$PR_TITLE"; then
            echo "PR title must be a conventional commit message" >&2
            exit 1
          fi
      - name: Verify correct scope of PR title
        if: ${{ needs.getChangedChart.outputs.found == 'true' }}
        env:
          CHANGED_CHART: ${{ needs.getChangedChart.outputs.chart }}
        run: |
          set -e
          set -o pipefail

          if ! cog verify "$PR_TITLE" 2>&1 | grep -Eq "^\s+Scope: $CHANGED_CHART(/.+|)\$"; then
            echo "PR title must have scope '$CHANGED_CHART/\$subscope'" >&2
            exit 1
          fi
