name: Wait for checks

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  wait-for-checks:
    runs-on: self-hosted
    permissions:
      checks: read
    steps:
      - env:
          GH_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
          CHANGE_SHA: ${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }}
          IGNORED_JOBS: generateDiffCommentBody,postDiffComment
          CURRENT_JOB: ${{ github.job }}
        timeout-minutes: 60
        run: |
          [[ "$RUNNER_DEBUG" == 1 ]] && set -x
          set -e
          set -o pipefail

          fetch_check_runs() {
            local all_runs='{"check_runs":[]}'
            local page=1
            while :; do
              response=$(curl -fsSL \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer $GH_TOKEN" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                "https://api.github.com/repos/${GITHUB_REPOSITORY}/commits/${CHANGE_SHA}/check-runs?per_page=100&page=${page}")
              runs=$(echo "$response" | jq '.check_runs')
              if [[ "$(echo "$runs" | jq 'length')" -eq 0 ]]; then
                break
              fi
              all_runs=$(echo "$all_runs" | jq --argjson new "$runs" '.check_runs += $new')
              ((page++))
            done
            echo "$all_runs"
          }

          # must work three times, (sometimes) the github API drops jobs that are currently restarting
          tries=3; while (( --tries >= 0 )); do
            while unfinished_jobs="$(fetch_check_runs | jq --arg ignored "$IGNORED_JOBS,$CURRENT_JOB" -e '.check_runs | map(select(([.conclusion] | inside(["success","skipped","cancelled"]) | not) and ([.name] | inside($ignored | split(",")) | not))) | map("\(.name) (\(.conclusion // .status))") | if length == 0 then halt_error(1) else . end')"; do
              echo "The following jobs are not (successfully) finished yet:" >&2
              echo "$unfinished_jobs" >&2
              sleep 5
            done
            sleep 5
          done
